<!DOCTYPE HTML>
<html class="loginPage">
    <head>
        <title>$!encoder.htmlEncode( ${applicationTitle} )</title>
        <meta name="description" content="DHIS 2">
        <meta name="keywords" content="DHIS 2">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="../javascripts/jQuery/jquery.min.js"></script>
        <script type="text/javascript" src="login.js"></script>
        <link type="text/css" rel="stylesheet" href="../css/widgets.css">
        <link type="text/css" rel="stylesheet" href="../css/login.css">
        <link type="text/css" rel="stylesheet" href="../../api/files/style/external" />
        
    <style>
        table.login {
        font-family: verdana,arial,sans-serif;
        font-size:14px;
        color:#333333;
        border-width: 1px;
        border-spacing:0;
        border-collapse:collapse;
        background-color:white;
        }
        table.login td {    
        padding: 6px;
        }
    </style>
        
    </head>
    <body bgcolor="white">
    <table align="center" class="login">
        <tr align="center">
            <td>
                 <img src="IVB_LOGO_NEW.png" />
            </td>
        </tr>
        <tr align="center">
            <td>
                <span><h2>
                    <font color="#0099CC" size="+3" face="Arial, Helvetica, sans-serif">
                        Immunization Repository</font>
                </h2></span>
            </td>
        </tr>
        <tr align="center">
            <td>
                <font color="#000000" face="Arial, Helvetica, sans-serif">Welcome to the WHO Immunization Repository, an online forum for managing and reviewing information on new vaccine introduction, <br/>strengthening immunization services and accelerated disease control activities in countries.</font><br />
            </td>
        </tr>
        <tr align="center">
            <td><br/>
                <font color="#000000" face="Arial, Helvetica, sans-serif">
                    To obtain permission to access the system, please send an e-mail to <a href="mailto:nicolash@who.int?subject=Immunization Repository">nicolash@who.int</a></font><br />
            </td>
        </tr>
		
		<form id="loginForm" action="../../dhis-web-commons-security/login.action" method="post">		
        <tr align="center">
            <td>
                <form id="loginForm" action="../../dhis-web-commons-security/login.action" method="post">
                <table class="login" >
                    <tr>
                        <td><label for="j_username"><b>User Name</b></label></td>
                        <td><input type="text" id="j_username" name="j_username" style="width:240px; height:20px;"></td>
                    </tr>
                    <tr>
                        <td><label for="j_password"><b>Password</b></label></td>
                        <td><input type="password" id="j_password" name="j_password" autocomplete="off" style="width:230px; height:11px;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input id="submit" class="button" type="submit" value="Login" style="width:120px; height:25px;">
                            <input id="reset" class="button" type="reset" value="Clear" style="width:120px; height:25px;">
                        </td>
                    </tr>
                    <tr style="">
                         <td colspan="2">
                            <img src="login_or.png"/>
                         </td>
                    </tr>                                       
                </table>
            </form>
            </td>
        </tr>
        <tr>
        <td colspan="2">
        #if( $keyOpenIdProvider )
               <form id="openIdLoginForm" name="openIdLoginForm" action="../../dhis-web-commons-security/openid.action" method="post">
                   <input name="openid_identifier" type="hidden" value="$keyOpenIdProvider"/>
                   <center>                         
                            <a href="../../dhis-web-commons-security/openid.action?openid_identifier=$keyOpenIdProvider" ><img src="who.png" style="width:50px;"/></a>
                    </center>
               </form>
         #end
         </td>
         </tr>
        <tr align="center">
            <td>
                <font color="#0099CC" face="Arial, Helvetica, sans-serif">
                    <strong>WHO Staff:</strong></font> <font color="#000000" face="Arial, Helvetica, sans-serif">You can use your current account credentials.</font> <br />
            </td>
        </tr>
        <tr style="display:none" align="center">
            <td>
                <font color="#0099CC" face="Arial, Helvetica, sans-serif">
                <strong>Partners:</strong><font color="#000000" face="Arial, Helvetica, sans-serif"> you can request access to the system by contacting</font> <a href="mailto:nicolash@who.int?subject=Immunization Repository">nicolash@who.int</a><br /><br />
            </td>
        </tr> 
        <tr align="center" bgcolor="#AABBCC" #if( $failed == false ) style="display:none" #end>
            <td><font color="#0000FF" face="Arial, Helvetica, sans-serif"><strong>Wrong username or password</td>
        </tr>
        
    </table>
    
    
    <table>
        <tr>
            <td>
               <font style="font-size:14px;" color="#000000" face="Arial, Helvetica, sans-serif"><strong>Our Partners: </strong></font>            
            </td>
            <td>
                &nbsp;&nbsp;<img src="unicef_logo.png" style="width:115px;"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="GAVI_logo.png" style="width:80px;height:33px;"/>
            </td>
        </tr>
    </table>

    </body>
</html>
