#set( $reportWarning = "Y" )

<style >
    th, td
    {       
        vertical-align: middle !important;
    }


/* tables */
table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;    
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: middle;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.tablesorter td:hover {
 background-color: #ffff99;
}

table.tablesorter tr.odd td:hover {
 background-color: #ffff99;
}
</style>

<script type="text/javascript">

    jQuery(function() {
        $('#toUser').show();
        $('#recipients').select2({
           minimumInputLength: 1,
           multiple: true, 
           width: "546px",      
           ajax: {
               url: 'getMessageRecipients.action',
               dataType: 'json',
               data: function(term, page) {
                    return {
                        filter: term
                    }
               },
               results: function(data, page) {
                return {               
                   results: data.matches }
               }
           }
        });
    });


    function getShareLink()
    {       
        $('#shareSubject').val('IMG Call Dashboard');
        url = document.location.href;
        $('#shareText').val('Link to view the report: \n \n' + url);
        $( "#shareLinkToUser" ).dialog('open');     
    }
    
    
    $(function() {
        $( document ).tooltip({
            track: true
        });
    });
</script>
 <style>
    @media print {
    @page { margin: 0; }
        body { margin: 1.6cm; }
    }
</style>

<form id="form1" name="form1" action="exportToWorkBook.action" method="post" onsubmit="return exportToExcel()" target="_newtab">

    <input type="hidden" name="htmlCode" id="htmlCode" />

    <div align="right" style="width:95%;margin:auto;padding-top:8px;padding-bottom:3px;">
        <input type="submit" value="Download As Excel"/>&nbsp;
        <input type="button" value="Print" onclick="javascript:printDiv('htmlContent')" />
        <input type="button" value="Share" onclick="javascript: getShareLink()"/>
    </div>

    <hr/>  
    
    <div id="htmlContent" style="width:90%;margin:auto;" >
    
        <h2>$i18n.getString( "dashboard_schedule_ipv_intro" )</h2>
        <table id="table1" class="tablesorter">
        
            <thead>
                <tr>
                    <th align="center" style="vertical-align: middle;">$i18n.getString( "who_region" )</th>
                    <th align="center" style="vertical-align: middle;">$i18n.getString( "opv_only_countries" )</th>
                    
                    #foreach( $introQuarter in $introQuarters )
                        <th align="center" style="vertical-align: middle;">$!introQuarter</th>    
                    #end
                </tr>
            </thead>
            
            <tbody >
                #foreach( $region in $regions )                    
                    #if( $mark )
                        #set( $mark = false )
                    #else
                        #set( $mark = true )
                    #end                        
                    <tr #if( $mark ) bgcolor = "#F0F0F6" #else bgcolor="#FFFFFF"  #end>
                        <td align="center" style="vertical-align: middle;">$region.name</td>
                        <td align="center" style="vertical-align: middle;">$!regionMap.get( $region )</td>
                        #foreach( $introQuarter in $introQuarters )
                            #set( $tempV = "" )
                            #set( $tempV = $!ivpIntroDateMap.get( "$region.id:$introQuarter" ) )
                            #if( $!tempV == "" )
                                <td align="center" style="vertical-align: middle;">0</td>
                            #else
                                <td align="center" style="vertical-align: middle;">$!tempV</td>
                            #end    
                        #end
                    </tr>
                #end
                    <tr #if( $mark ) bgcolor = "#F0F0F6" #else bgcolor="#FFFFFF"  #end>
                        <td align="center" style="vertical-align: middle;">&nbsp;</td>
                        <td align="center" style="vertical-align: middle;">&nbsp;</td>
                        #foreach( $introQuarter in $introQuarters )
                            <td align="center" style="vertical-align: middle;">$!ivpIntroDateMap.get( "$totalOU.id:P:$introQuarter" )%</td>
                        #end
                    </tr>
            </tbody>
        </table>            

        <h2>$i18n.getString( "dashboard_ipv_intro_decision_making_status" )</h2>
        <table id="table2" class="tablesorter">
        
            <thead>
                <tr>
                    <th align="center" style="vertical-align: middle;" rowspan="2">$i18n.getString( "who_region" )</th>
                    <th align="center" style="vertical-align: middle;" rowspan="2">$i18n.getString( "opv_only_countries" )</th>
                    <th align="center" style="vertical-align: middle;" colspan="2">$i18n.getString( "formal_commitmment" )</th>
                    <th align="center" style="vertical-align: middle;" colspan="2">$i18n.getString( "intent_to_introduce" )</th>
                    <th align="center" style="vertical-align: middle;" colspan="2">$i18n.getString( "not_available" )</th>
                </tr>
                <tr>
                    <th align="center" style="vertical-align: middle;" >$i18n.getString( "gavi" )</th>
                    <th align="center" style="vertical-align: middle;" >$i18n.getString( "non_gavi" )</th>
                    <th align="center" style="vertical-align: middle;" >$i18n.getString( "gavi" )</th>
                    <th align="center" style="vertical-align: middle;" >$i18n.getString( "non_gavi" )</th>
                    <th align="center" style="vertical-align: middle;" >$i18n.getString( "gavi" )</th>
                    <th align="center" style="vertical-align: middle;" >$i18n.getString( "non_gavi" )</th>
                </tr>
                
            </thead>
            
            <tbody >
                #foreach( $region in $regions )                    
                    #if( $mark )
                        #set( $mark = false )
                    #else
                        #set( $mark = true )
                    #end                        
                    <tr #if( $mark ) bgcolor = "#F0F0F6" #else bgcolor="#FFFFFF"  #end>
                        <td align="center" style="vertical-align: middle;">$region.name</td>
                        <td align="center" style="vertical-align: middle;">$!regionMap.get( $region )</td>
                        #set( $tempV = "" )
                        #set( $tempV = $!ipvDecisionMap.get( "$region.id:Formal Commitment:gavi" ) )
                        #if( $!tempV == "" )
                            <td align="center" style="vertical-align: middle;">0</td>
                        #else                            
                            <td align="center" style="vertical-align: middle;">$!tempV</td>
                        #end    
                        
                        #set( $tempV = "" )
                        #set( $tempV = $!ipvDecisionMap.get( "$region.id:Formal Commitment:non gavi" ) )
                        #if( $!tempV == "" )
                            <td align="center" style="vertical-align: middle;">0</td>
                        #else
                            <td align="center" style="vertical-align: middle;">$!tempV</td>
                        #end    
                        
                        #set( $tempV = "" )
                        #set( $tempV = $!ipvDecisionMap.get( "$region.id:Intent to Introduce:gavi" ) )
                        #if( $!tempV == "" )
                            <td align="center" style="vertical-align: middle;">0</td>
                        #else
                            <td align="center" style="vertical-align: middle;">$!tempV</td>
                        #end
                        
                        #set( $tempV = "" )
                        #set( $tempV = $!ipvDecisionMap.get( "$region.id:Intent to Introduce:non gavi" ) )
                        #if( $!tempV == "" )
                            <td align="center" style="vertical-align: middle;">0</td>
                        #else                            
                            <td align="center" style="vertical-align: middle;">$!tempV</td>
                        #end
                        
                        #set( $tempV = "" )
                        #set( $tempV = $!ipvDecisionMap.get( "$region.id:Not Available:gavi" ) )
                        #if( $!tempV == "" )
                            <td align="center" style="vertical-align: middle;">0</td>
                        #else                            
                            <td align="center" style="vertical-align: middle;">$!tempV</td>
                        #end
                        
                        #set( $tempV = "" )
                        #set( $tempV = $!ipvDecisionMap.get( "$region.id:Not Available:non gavi" ) )
                        #if( $!tempV == "" )
                            <td align="center" style="vertical-align: middle;">0</td>
                        #else
                            <td align="center" style="vertical-align: middle;">$!tempV</td>
                        #end
                    </tr>
                #end
                    <tr #if( $mark ) bgcolor = "#F0F0F6" #else bgcolor="#FFFFFF"  #end>
                        <td align="center" style="vertical-align: middle;">&nbsp;</td>
                        <td align="center" style="vertical-align: middle;">&nbsp;</td>
                        <td align="center" style="vertical-align: middle;">$!ipvDecisionMap.get( "$totalOU.id:P:Formal Commitment:gavi" )%</td>
                        <td align="center" style="vertical-align: middle;">$!ipvDecisionMap.get( "$totalOU.id:P:Formal Commitment:non gavi" )%</td>
                        <td align="center" style="vertical-align: middle;">$!ipvDecisionMap.get( "$totalOU.id:P:Intent to Introduce:gavi" )%</td>
                        <td align="center" style="vertical-align: middle;">$!ipvDecisionMap.get( "$totalOU.id:P:Intent to Introduce:non gavi" )%</td>
                        <td align="center" style="vertical-align: middle;">$!ipvDecisionMap.get( "$totalOU.id:P:Not Available:gavi" )%</td>
                        <td align="center" style="vertical-align: middle;">$!ipvDecisionMap.get( "$totalOU.id:P:Not Available:non gavi" )%</td>
                    </tr>
            </tbody>
        </table>            


        <h2>$i18n.getString( "dashboard_gavi_ipv_application_status" )</h2>
        <table id="table3" class="tablesorter">
        
            <thead>
                <tr>
                    <th align="center" style="vertical-align: middle;">$i18n.getString( "who_region" )</th>
                    <th align="center" style="vertical-align: middle;">$i18n.getString( "gavi_eligible_opv_only_countries" )</th>
                    
                    #foreach( $ipvAppStatus in $ipvAppStatusList )
                        <th align="center" style="vertical-align: middle;">$!ipvDateMap.get( $!ipvAppStatus )</th>    
                    #end
                </tr>
            </thead>
            
            <tbody >
                #foreach( $region in $regions )                    
                    #if( $mark )
                        #set( $mark = false )
                    #else
                        #set( $mark = true )
                    #end                        
                    <tr #if( $mark ) bgcolor = "#F0F0F6" #else bgcolor="#FFFFFF"  #end>
                        <td align="center" style="vertical-align: middle;">$region.name</td>
                        <td align="center" style="vertical-align: middle;">$!gaviRegionMap.get( $region )</td>
                        #foreach( $ipvAppStatus in $ipvAppStatusList )
                            #set( $tempV = "" )
                            #set( $tempV = $!ipvAppStatusMap.get( "$region.id:$ipvAppStatus" ) )
                            #if( $!tempV == "" )
                                <td align="center" style="vertical-align: middle;">0</td>
                            #else                            
                                <td align="center" style="vertical-align: middle;">$!tempV</td>
                            #end
                        #end
                    </tr>
                #end

                    <tr #if( $mark ) bgcolor = "#F0F0F6" #else bgcolor="#FFFFFF"  #end>
                        <td align="center" style="vertical-align: middle;">&nbsp;</td>
                        <td align="center" style="vertical-align: middle;">&nbsp;</td>
                        #foreach( $ipvAppStatus in $ipvAppStatusList )
                            <td align="center" style="vertical-align: middle;">$!ipvAppStatusMap.get( "$totalOU.id:P:$ipvAppStatus" )%</td>
                        #end
                    </tr>
            </tbody>
        </table>            

        <br/><br/><br/>
        <table style="margin:auto;display:none;color: #9F6000;background-color: #FEEFB3;border: 1px solid;" width="100%">
            <tr>
                <td colspan="5">$i18n.getString( "report_inline_security_warning" )</td>
            </tr>
        </table>
    </div>
</form>


<div id="shareLinkToUser" title="Share Link to User">
    <fieldset>
        <label for="toUser">$i18n.getString( "maintenance_users" )</label>
        <input type="hidden" name="recipients" id="recipients" class="text ui-widget-content ui-corner-all" placeholder="Enter User Name"/>
        <br/><br/>
        <label for="shareSubject">$i18n.getString( "feedback_subject" )</label>
        <input type="text" id="shareSubject" name="shareSubject" class="text ui-widget-content ui-corner-all" />
        <label for="shareText">$i18n.getString( "feedback_text" )</label>
        <textarea id="shareText" name="shareText" class="text ui-widget-content ui-corner-all" rows="6">                
        </textarea>
    </fieldset>
    <br/>
    <hr/>
    <span style="float:right;">
        <a id="send" href="#">Send</a>
        <a id="cancel" href="#">Cancel</a>
    </span>
</div>
    
<style>
    label, #toUser ,#shareText ,#shareSubject{ 
        display:block;
    }
        #recipients ,#shareText ,#shareSubject  { 
        margin-bottom:12px;
        width:95%; 
        padding: .4em; 
    }   
    #shareLinkToUser fieldset   { 
        padding:0;
        border:0;
        margin-top:25px;
    }
</style>
<script>
    
    jQuery(function() { 
    
    $("#send").button();
    $("#send").click(function() {
            
            $("#send").attr("href","mailto:"+$('#recipients').val().replace(/[,]/g,';')+"?subject="+$('#shareSubject').val()+"&body="+escape(document.getElementById('shareText').value));
            $("#shareLinkToUser").dialog('close');
    });
    $("#cancel").button();
    $("#cancel").click(function() {
        $("#shareLinkToUser").dialog('close');
    });
        var emailIds = 'null';
        $( "#shareLinkToUser" ).dialog({
                autoOpen: false,
                height: 420,
                width: 595,
                modal: true,
                show: "blind",
                hide: "explode"               
           
        });
    });
    function sendMsg()
    {
            
    
    }
</script>
<script>
    $(document).ready(function()
    {
        $("#table11").tablesorter( {widgets: ['zebra']} );
    });
        
    function exportToExcel()
    {
        var currentFlaggedImgPath = $('.flagedImg').find('img').attr('src');
        var currentUnFlaggedImgPath = $('.unFlagedImg').find('img').attr('src');
        
        var redFlag = $('#redFlag').val();
        var greyFlag = $('#greyFlag').val();
        
        
        $('.flagedImg').find('img').remove();
        $('.unFlagedImg').find('img').remove();
        
        $('.flagedImg').append('<font size=\"20\" color=\"red\">*</font>')
        $('.unFlagedImg').append('<font size=\"20\" color=\"#A4A4A4\">*</font>');
        
        document.getElementById('htmlCode').value = document.getElementById('htmlContent').innerHTML;
        
        $('.flagedImg').text('');
        $('.unFlagedImg').text(''); 
        
        $('.flagedImg').append('<img src=\"'+currentFlaggedImgPath+'\" width=\"20\" height=\"20\" style=\"float:left;\" \>');
        $('.unFlagedImg').append('<img src=\"'+currentUnFlaggedImgPath+'\" width=\"20\" height=\"20\" style=\"float:left;\" \>');
        return true;
    }
    
    function printDiv( divID ) 
    {
        //Get the HTML of div
        var divElements = document.getElementById(divID).innerHTML;
        
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML = "<html><head><title></title></head><body>" + divElements + "</body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;        
		
		window.location.reload();			
    }
</script>
