
<script type="text/javascript" >

	$(function() {
		$( document ).tooltip({
		position: {
			my: "center bottom-20",
			at: "center top",
			using: function( position, feedback ) {
		$( this ).css( position );
		$( "<div>" )
			.addClass( "arrow1" )
			.addClass( feedback.vertical )
			.addClass( feedback.horizontal )
			.appendTo( this );
		}
		}
		});
	});
	var orgUnitId = null;
	$(document).ready(function(){
	    $('#myjquerymenu').find('#report').addClass("selected");	 
	    $("#submit").button(); 
	    $("#cancel").button(); 	        
	});
	
function validateForm1()
{
	
   
	$("#selectedListMMR").find("option").attr("selected", "selected");
		
		
}
</script>


<br/>

<div style="font-size:16px; width:93%; margin:auto;" class="ui-widget-header ui-corner-all"><b>$i18n.getString( "M/MR_Status_report" )</b></div>

<form id="keyFlagReportForm" method="get" action="generateMMRStatus.action" onsubmit="return validateForm1()">

 	<input type="hidden" name="orgUnitId" id="orgUnitId" />

 	<div id="reportFilterDiv" >
		<table style="width:90%;margin:auto;" cellpadding="4" cellspacing="2">
			
			<tr style="margin-bottom: 15px;"> 			
 				<td width="45%">
 					$i18n.getString( "select_org_group" )<br/> 					
			        <select id="availableListMMR" name="availableListMMR" ondblclick="moveSelectedById( 'availableListMMR', 'selectedListMMR' )" multiple="multiple" style="height: 165px; width: 100%;">
                    #foreach($orgUnitGroup in $orgUnitGroups)
                        <option value="$orgUnitGroup.id">$orgUnitGroup.name</option>
                    #end
                  </select>
    			</td>
		        <td style="text-align:center" width="10%">
                    <input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="moveSelectedById( 'availableListMMR', 'selectedListMMR' );"/><br/>
                    <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="moveSelectedById( 'selectedListMMR', 'availableListMMR' );"/><br/>
                    <input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="moveAllById( 'availableListMMR', 'selectedListMMR' );"/><br/>
                    <input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="moveAllById( 'selectedListMMR', 'availableListMMR' );"/>
                </td>
		        <td width="45%">
                    <select id="selectedListMMR" name="selectedListMMR" ondblclick="moveSelectedById( 'selectedListMMR', 'availableListMMR' )" multiple="multiple" style="height: 165px; width: 100%; margin-top: 22px;"></select>
                </td>  
			</tr>

 			<tr>
				<td width="55%" colspan="2">
 					<div id="orgUnitTreeContainer" style="height: 250px; width: 100%;">
 						#organisationUnitSelectionTree1( false, true, true )
 					</div>
				</td>
			
			</tr>
 			
 			<tr>
				<td>
			 		<input type="submit" value="$i18n.getString( 'get_report' )" id="submit" />		 		
	 			</td>
				 <td width="10%">&nbsp;</td>
                <td width="45%">
                    <input type="checkbox" id="includeComments" name="includeComments" checked /> $i18n.getString('include_comments')
                </td>
	 			<td>&nbsp;</td>
	 			<td>&nbsp;</td>
 			</tr>
 			
		 </table>
	</div>
	<br/><br/>
</form>