
<script type="text/javascript">

$(function() {
        $( document ).tooltip({
        position: {
            my: "center bottom-20",
            at: "center top",
            using: function( position, feedback ) {
        $( this ).css( position );
        $( "<div>" )
            .addClass( "arrow1" )
            .addClass( feedback.vertical )
            .addClass( feedback.horizontal )
            .appendTo( this );
        }
        }
        });
    });
    var orgUnitId = null;
    $(document).ready(function(){
        $('#myjquerymenu').find('#report').addClass("selected");     
        $("#submit").button(); 
        $("#cancel").button();
        
        var today = new Date();
        var currentMonth = today.getMonth()+1+"";
        var currentYear = today.getFullYear();
        
        var startMonth = currentMonth;
        var startYear = currentYear;
        var dateReg = /^[1-9]$/;
        if( currentMonth.match( dateReg ) )
        {
          startMonth = "0"+currentMonth;
          startYear = currentYear;
        }
        
        var endMonth = currentMonth+"";
        var endYear = currentYear + 1;
        var reExp = /^[1-9]$/;
        if(endMonth.match( reExp ))
        {
            endMonth = '0'+ endMonth;
        }
        
        $("#dateFrom").val(startYear + '-' + startMonth);
        $("#dateTo").val(endYear + '-' + endMonth);
          
    });
    function getOrgUnitId( orgUnits )
    { 
        $("#orgUnitId").val( orgUnits[0] );
    }

    function generateHTMLreport()
    {       
        $('#selectedList option').attr('selected', 'selected');
        
        var reviewListBox = document.getElementById('selectedList');
       
        if( reviewListBox.options.selectedIndex < 0 )
        {
            alert("Please select review(s)");
            return false;
        }

        return true;
    }
    
    function getDate( date )
    {
        if(date.match("Q1"))
        {
            date = date.replace("Q1","01"); 
        }
        else if(date.match("Q2"))
        {
            date = date.replace("Q2","04"); 
        }
        else if(date.match("Q3"))
        {
            date = date.replace("Q3","07"); 
        }
        else if(date.match("Q4"))
        {
            date = date.replace("Q4","10"); 
        }
        date = date +"-01";
        
        var date1= new Date(date);
        
        return date1;
        
    }
    function getDataElementType()
    {
        var showComment = document.getElementById("showComment");   
        if(showComment.checked == true)
        {
            $("#dataElementType").prop("disabled",false);
        }
        else
        {
            $("#dataElementType").prop("disabled",true);    
        }   
    }
    function getDateFrom()
    {
        var dateVal = document.getElementById('dateFrom').value;
        var dateReg1 = /^\d{4}-(0[1-9]|1[1-2]|10)$/; 
        var dateReg2 = /^\d{4}$/; 
        var dateReg3 = /^\d{4}-Q[1-4]$/; 
        
        if( dateVal == "" || dateVal.match(dateReg1) || dateVal.match(dateReg2) || dateVal.match(dateReg3))
        {}
        else
        {
            alert("Please Enter date in given format YYYY or YYYY-MM or YYYY-Qn e.g. 2012-Q1 or 2012 or 2012-01");
            document.getElementById('dateFrom').value = "";
            return true;
        }
    }
    
    function getDateTo()
    {
        var dateVal = document.getElementById('dateTo').value;  
        var dateReg1 = /^\d{4}-(0[1-9]|1[1-2]|10)$/; 
        var dateReg2 = /^\d{4}$/; 
        var dateReg3 = /^\d{4}-Q[1-4]$/; 
            
        if( dateVal == "" || dateVal.match(dateReg1) || dateVal.match(dateReg2) || dateVal.match(dateReg3))
        {}      
        else
        {
            alert("Please Enter date in given format YYYY or YYYY-MM or YYYY-Qn e.g. 2012-Q1 or 2012 or 2012-01");
            document.getElementById('dateFrom').value = "";
            return true;
        }
    }
</script>

<br/>

<div style="font-size:16px; width:93%; margin:auto;" class="ui-widget-header ui-corner-all"><b>$i18n.getString( "pie_canned_report" )</b></div>
<form id="vacIntroReportForm" method="get" action="pieReportResult.action" onsubmit="return generateHTMLreport()">
    <input type="hidden" name="orgUnitId" id="orgUnitId"/>
    <div id="reportFilterDiv" >
        <table style="width:95%;margin:auto;table-layout:fixed;" cellpadding="4" cellspacing="2">
                <tr style="margin-bottom: 15px;">
                    <td width="45%">
                        $i18n.getString( "review" )<br/>                  
                        <select id="availableListVaccine" name="availableListVaccine" ondblclick="moveSelectedById( 'availableListVaccine', 'selectedList' )" multiple="multiple" style="height: 165px; width: 100%; margin-top: 22px;">                            
                            <option value="Hib PIE:594:50:-1">Hib PIE</option>
                            <option value="MSD PIE:596:62:-1">MSD PIE</option>
                            <option value="PCV PIE:597:74:-1">PCV PIE</option>
                            <option value="Rota PIE:598:80:-1">Rota PIE</option>
                            <option value="HPV PIE:595:44:-1">HPV PIE</option>
							<option value="IPV PIE:645:359:-1">IPV PIE</option>
                            <option value="PIE:420:-1:682">PIE</option>
                            <option value="EPI:419:299:681">EPI Review</option>
                            <option value="Surveillance:522:520:-1">Surveillance Review PIE</option>
                        </select>
                    </td>
                    <td style="text-align:center" width="10%">
                        <input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="moveSelectedById( 'availableListVaccine', 'selectedList' );"/><br/>
                        <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="moveSelectedById( 'selectedList', 'availableListVaccine' );"/><br/>
                        <input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="moveAllById( 'availableListVaccine', 'selectedList' );"/><br/>
                        <input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="moveAllById( 'selectedList', 'availableListVaccine' );"/>
                    </td>
                    <td width="45%">
                        <select id="selectedList" name="selectedList" ondblclick="moveSelectedById( 'selectedList', 'availableListVaccine' )" multiple="multiple" style="height: 165px; width: 100%; margin-top: 22px;"></select>
                    </td>                
             </tr>
             <tr>
                <td width="55%" colspan="2">                    
                    <div id="orgUnitTreeContainer"  style="height: 250px; width: 100%;">
                        #organisationUnitSelectionTree1( false, true, true )
                    </div>
                 </td>
                 <td width="45%" valign="top">
                    <br/><br/><br/>
                    $i18n.getString( "introduction" )<br/>
                    $i18n.getString( "from" ): <input type="text" id="dateFrom" name="introStartDate" title="Date Format: YYYY / YYYY-Qn / YYYY-MM e.g. 2012 / 2012-Q1 / 2012-01" onblur="getDateFrom()"/> &nbsp; 
                    $i18n.getString( "to" ): <input type="text" id="dateTo" name="introEndDate" title="Date Format: YYYY / YYYY-Qn / YYYY-MM e.g. 2012 / 2012-Q1 / 2012-01" onblur="getDateTo()"/><br/><br/>
                    <br/><br/>
                    
                    <input type="submit" value="$i18n.getString( 'get_report' )" id="submit" /> 
                 </td>               
             </tr>
             
            <tr style="display:none">
                <td width="45%">
                    <input type="submit" value="$i18n.getString( 'get_report' )" id="submit" />             
                </td>
                <td width="10%">&nbsp;</td>
                <td width="45%">&nbsp;</td>
            </tr>
         </table>
</div>
<br/><br/>
</form>