
<script type="text/javascript">
	
	jQuery( function(){
		
		$( "#startDate" ).datepicker({
			showOn: "button",
			buttonImage: "images/calendar.gif",
			buttonImageOnly: true,
			dateFormat: 'yy-mm-dd'		
		});
	}); 

    jQuery( function(){
        
        $( "#endDate" ).datepicker({
            showOn: "button",
            buttonImage: "images/calendar.gif",
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'      
        });
    }); 
					
	$(document).ready(function(){
	    $('#myjquerymenu').find('#report').addClass("selected");
	    pageName = 'CountryFileReport';	 
	    $("#submit").button(); 
	    $("#cancel").button(); 	
	    
	});

    function getOrgUnitId(orgUnits)
    { 
    	$("#orgUnitId").val(orgUnits[0]);	
    }

    function generateHTMLreport()
    {
    	$('#selectedListDataset option').attr('selected', 'selected');
    	var dataSetListBox = document.getElementById('selectedListDataset');    	
    	var startDate = document.getElementById('startDate').value;
    	var endDate = document.getElementById('endDate').value;
    	var dateReg = /^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/;	
    	var date1 = new Date(startDate);
        var date2 = new Date(endDate);    	
    	
    	if( dataSetListBox.options.length <= 0 )
    	{
    		alert("Please select areas of work");
    		return false;
    	}
    	/* if( startDate.match(dateReg) )
    	{}
    	else
    	{
    		alert("Please enter start date in correct format");
    		return false;
    	}    		
        if( endDate.match(dateReg) )
        {}
        else
        {
            alert("Please enter end date in correct format");
            return false;
        } 
		
        if (date2 <= date1) {
          alert("To date Should be greater than From date");
          startDate = '';          
          return false;
        }   
		*/

    }
</script>

<br/>

<div style="font-size:16px; width:93%; margin:auto;" class="ui-widget-header ui-corner-all"><b>$i18n.getString( "regional_summary_report" )</b></div>

<form id="regionalSummaryForm" method="get" action="generateRegionalSummaryReport.action" onsubmit="return generateHTMLreport()">

 	<input type="hidden" name="orgUnitId" id="orgUnitId"/>	
 	<div id="reportFilterDiv">
 		<table style="width:90%;margin:auto;" cellpadding="4" cellspacing="2">
            <tr>
 				<td width="45%">
 					#organisationUnitSelectionTree1( false, true, false )                    
				 </td>				 
 				 <td width="10%">&nbsp;</td>
				 <td width="45%">				    
					<input type="checkbox" id="userSource" name="userSource" checked /> $i18n.getString( "user_source" )	 <br/><br/>	
				 	<!--<input type="checkbox" id="adminEntries" name="adminEntries" checked /> $i18n.getString( "admin_only_entries" ) <br/><br/>-->
			 		<input type="checkbox" id="regionalDashboard" name="regionalDashboard" checked /> $i18n.getString( "regional_dashboard" )<br/><br/>
			 		<input type="checkbox" id="currentQuarter" name="currentQuarter" checked /> $i18n.getString( "current_quarter_only" ) <br/><br/>	 	
		 			$i18n.getString( "select_time_series" ): 
		 			<input type="text" size="10" id="startDate" name="startDate" placeholder="YYYY-MM-DD"/>&nbsp;&nbsp;&nbsp; 
		 			<input type="text" size="10" id="endDate" name="endDate" placeholder="YYYY-MM-DD"/>
					<br/><br/>
                    $i18n.getString( "select_option" ) <br/>
                    <select style="width: 100%;" id="dataElementType" name="dataElementType"> 
                        <!--<option value="SHOW_ALL_DES" selected>$i18n.getString( "show_all_data_element" )</option> -->
                        <option value="SHOW_DATA_DES">$i18n.getString( "show_only_data_element_with_values" )</option>
                        <option value="SHOW_BLANK_DES">$i18n.getString( "show_only_data_element_that_are_blank" )</option>
                        <option value="SHOW_KEY_FLAG_ONLY">$i18n.getString( "key_flag_only" )</option>
                    </select>
				 </td>
			</tr> 			
 			<tr style="margin-bottom: 15px;">
				<td width="45%">
					$i18n.getString( "select_area_of_work" )<br/> 					
		          	<select id="availableListDataset" name="availableListDataset" ondblclick="moveSelectedById( 'availableListDataset', 'selectedListDataset' )" multiple="multiple" style="height: 200px; width: 100%;">
					#foreach( $dataset in $datasetList )
						<option value="$dataset.id">$dataset.displayName</option>
					#end
		          </select>
    			</td>
		        <td style="text-align:center" width="10%">
		            <input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="moveSelectedById( 'availableListDataset', 'selectedListDataset' );"/><br/>
		            <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="moveSelectedById( 'selectedListDataset', 'availableListDataset' );"/><br/>
		            <input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="moveAllById( 'availableListDataset', 'selectedListDataset' );"/><br/>
		            <input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="moveAllById( 'selectedListDataset', 'availableListDataset' );"/>
		        </td>
		        <td width="45%">
		            <select id="selectedListDataset" name="selectedListDataset" ondblclick="moveSelectedById( 'selectedListDataset', 'availableListDataset' )" multiple="multiple" style="height: 200px; width: 100%; margin-top: 22px;"></select>
		        </td>	
				<td>
                    <a href="javascript:moveUpDataElement('selectedListDataset');"><img src="../images/move_up.png"/></a><br/><br/>
                    <a href="javascript:moveDownDataElement('selectedListDataset');"><img src="../images/move_down.png"/></a><br/><br/>
            	</td>
			</tr>			
 			<tr>
			 	<td><input type="submit" value="$i18n.getString( 'get_report' )" id="submit" /></td>
	 			<td>&nbsp;</td>
	 			<td>&nbsp;</td>
 			</tr>
		 </table>
    </div>
	<br/><br/>
</form>
