<h3>$i18n.getString( "approved_list" )</h3>
<table>
<input type='hidden' id='searchByProgramStage' name='searchByProgramStage' value="false">
<!--<input type='hidden' id='orgunitId' name='orgunitId' value='$organisationUnit.id' >
<input type="hidden" id='hideLink' name='hideLink' value='false'>-->
<input type='hidden' id='isSearchByProgram' name='isSearchByProgram' value='false' >
<input type='hidden' id='selectOrgUnitInsideDashBoard' name='selectOrgUnitInsideDashBoard' value='$!organisationUnit.id' >	
<tr>
<td>    
<table style="background-color:#ECE0F8;" width="100%">
    <tr><th colspan="2" class="heading-column">$i18n.getString( "area_info" )</th>
    
    </tr>

    <tr>
        <td class='text-column'>$i18n.getString( "Country" )</td>
        <td class="input-column" >$!organisationUnit.getParent().getParent().getParent().getParent().getParent().getName()</td>
    </tr>

    <tr>
        <td class='text-column'>$i18n.getString( "Province" )</td>
        <td class="input-column" >$!organisationUnit.getParent().getParent().getParent().getParent().getName()</td>
    </tr>

    <tr>
        <td class='text-column'>$i18n.getString( "County" )</td>
        <td class="input-column" >$!organisationUnit.getParent().getParent().getParent().getName()</td>
    </tr>
    
    <tr>
        <td class='text-column'>$i18n.getString( "District" )</td>
        <td class="input-column" >$!organisationUnit.getParent().getParent().getName()</td>
    </tr>
          
</table>
</td>
<td valign="top">
<table style="background-color:#EFFBEF;" width="100%">
    <tr><th colspan="6" class="heading-column">$i18n.getString( "cbo_details" )</th></tr>

    <tr>
        <td class='text-column'>$i18n.getString( "CBO Name" )</td>
        <td class="input-column" >$!organisationUnit.getName()</td>
    </tr>

    <tr>
        <td class='text-column'>$i18n.getString( "total_approved_ovc" )</td>
        <td class="input-column" >$!total</td>
    </tr>
    
    <tr>
        <td>&nbsp;</td>
        <td><input type="button" style='width:130px' id='listPatientBtn' style='260px;' value="$i18n.getString( 'list_all' )" onclick="javascript:listAllApprovedOVC();" >&nbsp;&nbsp;
        <input type="button" style='width:130px' id='filterBtn' value='$i18n.getString( "filter" )' onclick="jQuery('#advanced-search').toggle();"></td>
    </tr>    
             
</table>
<!--
<td valign="top">
<table style="background-color:#EFFBEF;" width="100%">
    <tr><td colspan="6" class="heading-column">&nbsp;</td></tr>
	
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td><input type="button" style='width:130px' id='filterBtn' value='$i18n.getString( "filter" )' onclick="jQuery('#advanced-search').toggle();"></td>
    </tr>          
</table>
</td>
-->
</tr>
</table>

<div id='advanced-search'  style='display:none' class='hidden advanced-search' >
	<table>	
		#if( $auth.hasAccess( "dhis-web-ovc", "searchOVCAllFacilities" ) )
			<tr id='searchBySelectedUnitTD'>
				<td>
					$i18n.getString('search_in_all_facilities') 
					<input type='checkbox' id='searchInAllFacility' name='searchInAllFacility' />&nbsp;&nbsp;&nbsp;
				</td>
			</tr>
		#else
			<input type='checkbox' class='hidden' id='searchInAllFacility' name='searchInAllFacility' />
		#end
		
		
		<tr id='programStageAddPatientTR' class='hidden'>
			<td>$i18n.getString('status')</td>
			<td>
				<select id="statusEvent" name="statusEvent">
					<option value='4'>$i18n.getString("overdue")</option>
					<option value='2'>$i18n.getString("incomplete")</option>
					<option value='1'>$i18n.getString("completed")</option>
					<option value='3'>$i18n.getString("scheduled_in_future")</option> 
					<option value='5'>$i18n.getString("skipped")</option> 
				</select>
			</td>
		</tr>
		<tr id='dueDateTR' class='hidden'>
			<td>$i18n.getString('due_date_from_to')</td>
			<td>
				<input type='text' id='startDueDate' name='startDueDate' style='width:127px;'>
				<input type='text' id='endDueDate' name='endDueDate' style='width:127px;'>
			</td>
		</tr>
		
		<tr>
			<td id='searchingAttributeIdTD' class='hidden advanced-search' class="hidden">
			  <select class='search-field' id="searchObjectId" name="searchObjectId" #if( $patientAttributes.size() == 0 ) disabled="disabled" #end onchange="searchObjectOnChange(this)">
				<option value="iden">$i18n.getString( "search_by_name_identifier" )</option>
				<!--<option value="prg">$i18n.getString( "search_by_program" )</option>-->
				<option value="fixedAttr_birthDate">$i18n.getString( "date_of_birth" )</option>
				<option value="fixedAttr_age">$i18n.getString( "age_year" )</option>
				<option value="fixedAttr_gender">$i18n.getString( "gender" )</option>
				<option value="fixedAttr_phoneNumber">$i18n.getString( "phone_number" )</option>
				#foreach( $attribute in $patientAttributes )
					<option value="attr_$attribute.id" valueType='$attribute.valueType'>$encoder.htmlEncode( $attribute.displayName )</option>
				#end
			  </select>
			  <em title="$i18n.getString( 'required' )" class="required">*</em></label>
			</td>
		</tr>
		<tbody id='advancedSearchTB'>
			<tr>
				<td></td>
				<td></td>
				<td name='addAndSearchBtn' rowspan='2' valign='bottom'>
					<input type="button" class='normal-button' value='$i18n.getString( "add" )' onclick='addAttributeOption();'>
				</td>
				<td name='addAndSearchBtn' rowspan='2' valign='bottom' align="right" >
					<input type="button" class='normal-button' value='$i18n.getString( "search" )' onclick='validateAdvancedSearch();' id='searchPatientBtn'>
				</td>
				
				<!--
				<td name='addAndSearchBtn' rowspan='2' valign='bottom' align="right" >
					<input type="button" class='normal-button hidden' id='sendSmsToListBtn' value="$i18n.getString('sms')" onclick="setFieldValue('sendToList', true);showSendSmsForm();" >
				</td>
				-->
			</tr>
			<tr id='advSearchBox0'>	       
				<td>
				  <select class='search-field' id="searchObjectId" name="searchObjectId" #if( $patientAttributes.size() == 0 ) disabled="disabled" #end onchange="searchObjectOnChange(this)">
					<option value="iden">$i18n.getString( "search_by_name_identifier" )</option>
					<!--<option value="prg">$i18n.getString( "search_by_program" )</option>-->
					<option value="fixedAttr_birthDate">$i18n.getString( "date_of_birth" )</option>
					<option value="fixedAttr_age">$i18n.getString( "age_year" )</option>
					<option value="fixedAttr_gender">$i18n.getString( "gender" )</option>
					<option value="fixedAttr_phoneNumber">$i18n.getString( "phone_number" )</option>
					#foreach( $attribute in $patientAttributes )
						<option value="attr_$attribute.id" valueType='$attribute.valueType'>$encoder.htmlEncode( $attribute.displayName )</option>
					#end
				  </select>
				  <em title="$i18n.getString( 'required' )" class="required">*</em></label>
				</td>		
				<td>
					<input type="text" id="searchText" name="searchText" value="$!searchText" onkeyup='searchApprovedOVCOnKeyUp( event );' style='width:200px;'>
					<input type="button" class='normal-button' name="clearSearchBtn" value='$i18n.getString( "clear" )' onclick="removeAttributeOption('advSearchBox0');" disabled>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script>
	var i18n_male = '$encoder.jsEscape( $i18n.getString( "male" ) , "'")';
	var i18n_female = '$encoder.jsEscape( $i18n.getString( "female" ) , "'")';
	var i18n_transgender = '$encoder.jsEscape( $i18n.getString( "transgender" ) , "'")';
	var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'")';
	var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'")';
	var i18n_specify_search_criteria = '$encoder.jsEscape( $i18n.getString( "specify_search_criteria" ) , "'")';
	var i18n_clear = '$encoder.jsEscape( $i18n.getString( "clear" ) , "'")';
	
	//datePicker( 'startDueDate', true );
	//datePicker( 'endDueDate', true );
	
	var searchTextBox = '<input type="text" id="searchText" name="searchText" onkeyup="searchApprovedOVCOnKeyUp( event );" style="width:202px;">';
	var programComboBox = '<select class="search-field" id="searchText" name="searchText" style="width:205px;">';
	#foreach ( $program in $programs ) 
		programComboBox += '<option value="$program.id">$program.displayName</option>';
	#end
	programComboBox += '</select>';
</script>