<script type="text/javascript">
jQuery(document).ready( function(){
        validation( 'updateEmployeeForm', function(form){
            if( isSubmit && validateUpdateEmployee() ) {
                form.submit(i18n_field_is_required);
            }
        }, function( ){
            isSubmit = true;
        }); 
    }); 

</script>
<h3>$i18n.getString( "update_community_worker_details" )</h3>
<form id="updateEmployeeForm" name="updateEmployeeForm" method="post" action="updateEmployee.action"> 
<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>
		
	<tr>
		<td style="width:120px"><label for="organisationUnit">$i18n.getString( "organisation_unit" )</label></td>
		<td style="width:120px">
			<input type="text" name="orgUnitName" id="orgUnitName" value="$!organisationUnit.getName()" style="width:300px" readonly="true"/>
			<input type="hidden" name="orgUnitId" id="orgUnitId" value="$!organisationUnit.getId()" />
			<input type="hidden" name="empId" id="empId" value="$!employee.getId()" />
		</td>
	</tr>
<!-- First name -->
	<tr>
		<td><label for="firstName">$i18n.getString( "first_name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" name="firstName" id="firstName" value="$!employee.getFirstName()" style="width:300px" class="{validate:{required:true,rangelength:[4,160]}}"/></td>
	</tr>	
	
<!-- Middle Name -->	
	<tr>
		<td><label for="lastName">$i18n.getString( "middle_name" )</label></td>
		<td><input type="text" name="lastName" style="width:300px" id="lastName" value="$!employee.getLastName()" /></td>
	</tr>	
	
<!-- Sur name -->	
	<tr>
		<td style="width:120px"><label for="surName">$i18n.getString( "chv_sur_name" )</label></td>
		<td><input type="text" name="surName" id="surName" value="$!employee.getSurname()" style="width:300px"/></td>
	</tr>


	<tr>
		<td><label for="gender">$i18n.getString( "gender" )<em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td>
			<select id="gender" name="gender" style="width:300px" class="{validate:{required:true}}">
				<option value="" selected="selected">[$i18n.getString( "please_select" )]</option>
                <option value="M" #if( $!employee.gender == 'M' ) selected="selected" #end>$i18n.getString( "male" )</option>
                <option value="F" #if( $!employee.gender == 'F' ) selected="selected" #end>$i18n.getString( "female" )</option>
			</select>
		</td>					
	</tr>
	<tr>
		<td><label for="code">$i18n.getString( "code" )</label></td>
		<td><input type="text" name="employeeCode" id="employeeCode" style="width:300px" class="{validate:{required:true}}" value="$!employee.getCode()" readonly="true"/></td>
	</tr>
	<tr>
		<td><label for="phoneNumber">$i18n.getString( "phoneNumber" )</label></td>
		<td><input type="text" name="phoneNumber" id="phoneNumber" style="width:300px" value="$!employee.getPhoneNumber()"/></td>
	</tr>
	<tr>
		<td><label for="email">$i18n.getString( "email" )</label></td>
		<td><input type="text" name="email" id="email" style="width:300px" class="{validate:{email:true,rangelength:[4,160]}}" value="$!employee.getEmail()"/></td>
	</tr>
	<tr style="display:none">
		<td><label for="jobTitle">$i18n.getString( "job_title" )</label></td>
		<td>
			<select name="jobTitle" id="jobTitle" style="width:300px">
				<option value = "CHV" #if( $!employee.getJobTitle() == 'CHV' ) selected="selected" #end>$i18n.getString( "chv" )</option>
				<option value = "Supervisior" #if( $!employee.getJobTitle() == 'Supervisior' ) selected="selected" #end>$i18n.getString( "supervisior" )</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>	
	<tr>
		<td>&nbsp;</td>
		<td>
			<input type="submit" name="save" value="$i18n.getString( 'save' )" style="width:150px" />
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='getEmployeeList.action'" style="width:150px" />
		</td>
	</tr>
		
</table>

</form>

<span id="message"></span>

<script type="text/javascript">

    var i18n_field_is_required = '$encoder.jsEscape( $i18n.getString( "field_is_required" ) , "'") ';
    //var nameField = document.getElementById( 'empCode' );
    //nameField.select();
    //nameField.focus();

</script>
