
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="previous()" type="button">Previous</button>
      </span>
      <select [(ngModel)]="model" (ngModelChange)="onChange($event)"class="form-control" id="exampleSelect1">
        <option value="">Select Period</option>
        <option *ngFor="let period of list" value="{{period.value}}">{{period.name}}</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="next()" type="button" [disabled]="!allowNext">Next</button>
      </span>
    </div>
  </div>
</div>
