<html>
<head>
    <title>Data Inventory</title>
    <style>

        body {
            font-family: georgia;
            font-size: 12px;
        }

        body
        {
            font-family: georgia;
            font-size: 12px;
        }

        table {
            *border-collapse: collapse;
            border-spacing: 0;
            width: 100%;

        }

        .bordered {
            border: solid #ccc 1px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: 0 1px 1px #ccc;
            -moz-box-shadow: 0 1px 1px #ccc;
            box-shadow: 0 1px 1px #ccc;
        }

        .bordered tr:hover {
            background: #fbf8e9;
            -o-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }

        .bordered td, .bordered th {
            text-align: center;
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        .bordered th {
            background-color: #dce9f9;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
            background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
            box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            border-top: none;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }

        .bordered td:first-child, .bordered th:first-child {
            border-left: none;
        }

        .bordered th:first-child {
            -moz-border-radius: 6px 0 0 0;
            -webkit-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
        }

        .bordered th:last-child {
            -moz-border-radius: 0 6px 0 0;
            -webkit-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
        }

        .bordered th:only-child{
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }

        .bordered tr:last-child td:first-child {
            -moz-border-radius: 0 0 0 6px;
            -webkit-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
        }

        .bordered tr:last-child td:last-child {
            -moz-border-radius: 0 0 6px 0;
            -webkit-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
        }

        select {
            padding: 3px;
            margin: 0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            background: #f8f8f8;
            color: #888;
            border: none;
            outline: none;
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            width: 400px;
        }

         input {
            padding: 3px;
            margin: 0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            background: #f8f8f8;
            color: #888;
            border: none;
            outline: none;
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: absolute;
        }

        @media screen and (-webkit-min-device-pixel-ratio:0) {
            select {
                padding-right: 18px
            }
        }

        label {
            position: relative
        }

        label:after {
            content: '<>';
            font: 10px "Consolas", monospace;
            color: #aaa;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            right: 8px;
            top: 2px;
            padding: 0 0 2px;
            border-bottom: 1px solid #ddd;
            position: absolute;
            pointer-events: none;
        }

        label:before {
            content: '';
            right: 6px;
            top: 0px;
            width: 20px;
            height: 20px;
            background: #f8f8f8;
            position: absolute;
            pointer-events: none;
            display: block;
        }
    </style>



</head>
<body>


<h1> Data Inventory Status Form</h1>


</br>

<form id="DataInventoryStatusSummaryForm"  method="post" action="dataInventoryAction.action">

    <script type="text/javascript">
        function optionCheck(){



            var option = document.getElementById("criteriaType").value;
            if(option == "groups"){
                document.getElementById("selectGS").style.display ="block";
                document.getElementById("selectDS").style.display ="none";
            }
            if(option == "datasets"){
                document.getElementById("selectDS").style.display ="block";
                document.getElementById("selectGS").style.display ="none";
            }
            if(option == "all"){
                document.getElementById("selectDS").style.display ="none";
                document.getElementById("selectGS").style.display ="none";
            }
            if(option == "allin"){
                document.getElementById("selectDS").style.display ="none";
                document.getElementById("selectGS").style.display ="none";
            }

        }

    </script>

    <table class="bordered">

        <thead>
        <tr>
            <th style="width: 350px">Order By</th>
            <th>
                <label>
                    <select name="criteriaType" id="criteriaType"  onchange="optionCheck();">
                        <option value='null'>--Select--</option>
                        <option value='groups'>Groups</option>
                        <option value='datasets'>DataSets</option>
                        <option value='all'>Show All DataElements</option>
                        <option value="allin">Show all Indicators</option>
                    </select>
                </label>
            </th>
        </tr>
        </thead>
    </table>
    <div id="selectDS"  style="display:none">
        <table class="bordered">
            <thead>
            <tr>
                <th style="width: 350px">Select DataSet</th>
                <th>
                    <label>
                        <select name="dataSetID" id="dataSetID">
                            <option value='0'>--Select--</option>
                            #foreach( $dataset in $dataSetArrayList )
                                <option value=$dataset.getId()>$dataset.getName()</option>
                            #end
                        </select>
                    </label>
                </th>
            </tr>
            </thead>
        </table>
    </div>

    <div id="selectGS"  style="display:none">
        <table class="bordered">
            <thead>
            <tr>
                <th style="width: 350px">Select Group</th>
                <th>
                    <label>
                        <select name="groupID" id="groupID" onchange="optionCheck();">
                            <option value='0'>--Select--</option>
                            #foreach( $group in $groupArrayList )
                                <option value=$group.getId()>$group.getName()</option>
                            #end
                        </select>
                    </label>
                </th>
            </tr>
            </thead>
        </table>
    </div>

    <br>

    <br>

    <input name="Get Inventory Status" type="submit" value="Get Inventory Status"></input>

</form>

</body>
</html>