<script type="text/javascript">
	jQuery( function(){
		datePicker( "reportDate");
    });
    
    function validation()
    {
    	if(document.getElementById('reportDate').value ==""){
					alert("Please select Report Date");
					return false;
				}
				else
				{
					 onSubmitFunction( reportoutputmode );
					 return true;
				}
    }

	function onSubmitFunction( reportoutputmode )
	{
			document.getElementById("reportOutputMode").value = reportoutputmode;
			return true;
	}
</script>

<form id="fortnightlyForm" name="fortnightlyForm" action="generateFortnightlyReport.action" method="post" target="_blank" onSubmit="return validation();" >
	<table>
		<tr>
			<td class="NormalB">
				<b><label for="reportDate">$i18n.getString( 'report_date' )</label></b><br/>
                <input type="text" id="reportDate" name="reportDate" style="width:12em" class="{validate:{required:true,dateISO:true}}">
			</td>
		</tr>
        <tr>
			<td class="NormalB">
				<b>$i18n.getString( 'procurement_options' )</b><br/>
				<select id="chartOption" name="chartOption" >
					<option value=0>None</option>
					<option value=1>Aman</option>
					<option value=2>Boro</option>
					<option value=3>Wheat</option>
              	</select>
			</td>
		</tr>
        <tr>
            <td class="NormalB">
				<input type="checkbox" name="writeupStatus" id="writeupStatus" checked /> 
                $i18n.getString( 'include_writeups_in_output' )
            </td>
        </tr>
	    <tr>
			<td><br/><br/>
	       		<input type="submit" name="generate" value="Generate Report" onclick="javascript:onSubmitFunction( 'REPORTOUTPUT' )" />
				<input type="submit" name="generate" value="Write Comments" onclick="javascript:onSubmitFunction( 'COMMENTOUTPUT' )" />
				<input type="hidden" id="reportOutputMode" name="reportOutputMode" value="REPORTOUTPUT" />
	       	</td>
       	</tr>
	</table>
 </form>