{ "qualityscorepayment": 
  {
    "id": "$!{qualityscorepayment.id}",
    "startRange": "$!{qualityscorepayment.startRange}",
    "endRange": "$!{qualityscorepayment.endRange}",
    "addQtyPayment": "$!{qualityscorepayment.addQtyPayment}"
  }
}