
<h3>$i18n.getString( "pbf_management" )</h3>

<ul class="introList">
    <!-- action name, Text Title, image id -->

    #if( $auth.hasAccess( "dhis-web-maintenance-rbf", "pbfDataEntry") )
	    #introListImgItem( "pbfDataEntry.action" "pbf_dataentry" "pbf_data_entry" )
	#end

	#if( $auth.hasAccess( "dhis-web-maintenance-rbf", "qualityScoreDataEntry") )
	    #introListImgItem( "qualityScoreDataEntry.action" "quality_score_entry" "minmaxvaluegeneration" )
	#end

	#if( $auth.hasAccess( "dhis-web-maintenance-rbf", "qualityMaxDataEntry") )
        #introListImgItem( "qualityMaxDataEntry.action" "quality_max_entry" "dataelement" )
    #end

    #if( $auth.hasAccess( "dhis-web-maintenance-rbf", "dataElementTariffManagement") )
        #introListImgItem( "dataElementTariffManagement.action" "dataelement_tariff_target_management" "dataelement_tariff_target" )
    #end

    #if( $auth.hasAccess( "dhis-web-maintenance-rbf", "partnerFundManagementForm") )
        #introListImgItem( "partnerFundManagementForm.action" "partner_management" "partner" )
    #end

    #if( $auth.hasAccess( "dhis-web-maintenance-rbf", "bankDetailsManagement") )
        #introListImgItem( "bankDetailsManagement.action" "bank_details_management" "bank_details" )
    #end

    #if( $auth.hasAccess( "dhis-web-maintenance-rbf", "utilizationRuleManagement") )
        #introListImgItem( "utilizationRuleManagement.action" "utilization_rule_management" "utilization" )
    #end

    #if( $auth.hasAccess( "dhis-web-maintenance-rbf", "qualityScorePaymentList") )
        #introListImgItem( "qualityScorePaymentList.action" "quality_score_payment" "category" )
    #end

    #if( $auth.hasAccess( "dhis-web-maintenance-rbf", "aggregationQueryList") )
		 #introListImgItem( "aggregationQueryList.action" "aggregation_query_list" "sqlview" )
         #introListImgItem( "runAggregationQueryForm.action" "manual_aggregation" "scheduling" )
    #end

    #if( $auth.hasAccess( "dhis-web-maintenance-rbf", "reportManagement") )
        #introListImgItem( "reportManagement.action" "report_management" "indicator" )
        #introListImgItem( "pbfReportForm.action" "pbf_report" "reporttable" )
    #end

    #if( $auth.hasAccess( "dhis-web-maintenance-rbf", "getAllLookups") )
        #introListImgItem( "getAllLookups.action" "lookup" "search" )
    #end
    #if( $auth.hasAccess( "dhis-web-maintenance-rbf", "getPaymentAdjustmentDetail") )
        #introListImgItem( "getPaymentAdjustmentDetail.action" "payment_adjustment" "payment" )
    #end


</ul>