html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.floatRight{
    float: right;
}

#resetBtn{
    color: #4f4f4f;
    font-weight: bold;
}

.main {
    margin: 0 auto;
    text-align: left;
    width: 1200px
}

.grid {
    clear: both;
    display: inline;
    float: left;
    padding: 0 20px 0 20px;
    position: relative;
    width: 1200px;
    background-color: #FFF;
}

.container {
    clear: both;
    float: left;
    margin: 0;
    width: 100%
}




.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    clear: none;
    display: inline;
    float: left;
    margin: 0 30px 0 0;
    padding: 0;
    position: relative
}

.span1 {
    width: 68px
}

.span2 {
    width: 166px
}

.span3 {
    width: 264px
}

.span4 {
    width: 362px
}

.span5 {
    width: 460px
}

.span6 {
    width: 558px
}

.span7 {
    width: 656px
}

.span8 {
    width: 754px
}

.span9 {
    width: 852px
}

.span10 {
    width: 950px
}

.span11 {
    width: 1048px
}

.span12 {
    width: 1146px;
    margin-right: 0
}

.prefix-one {
    margin-left: 98px
}

.prefix-two {
    margin-left: 196px
}

.prefix-three {
    margin-left: 294px
}

.prefix-four {
    margin-left: 392px
}

.prefix-five {
    margin-left: 490px
}

.prefix-six {
    margin-left: 588px
}

.prefix-seven {
    margin-left: 686px
}

.prefix-eight {
    margin-left: 784px
}

.prefix-nine {
    margin-left: 882px
}

.prefix-ten {
    margin-left: 980px
}

.prefix-eleven {
    margin-left: 1078px
}

.suffix-one {
    margin-right: 128px
}

.suffix-two {
    margin-right: 226px
}

.suffix-three {
    margin-right: 324px
}

.suffix-four {
    margin-right: 422px
}

.suffix-five {
    margin-right: 520px
}

.suffix-six {
    margin-right: 618px
}

.suffix-seven {
    margin-right: 716px
}

.suffix-eight {
    margin-right: 814px
}

.suffix-nine {
    margin-right: 912px
}

.suffix-ten {
    margin-right: 1010px
}

.suffix-eleven {
    margin-right: 1108px
}

.clear {
    clear: both
}

.last-col {
    margin-right: 0
}

.menu {
    display: block;
    z-index: 10
}

.menu, .menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.menu ul a {
    float: left
}

.menu ul ul a {
    float: none
}

.menu .mega-menu a {
    float: none;
    padding: 0
}

.menu ul ul, .menu .mega-menu, .menu .mega-menu ol li {
    opacity: 0;
    visibility: hidden;
    display: none !important / 9;
    -webkit-transition: opacity 150ms ease-in-out;
    -moz-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    -ms-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out
}

.menu li:hover > ul, .menu li:hover > .mega-menu, .menu li:hover > .mega-menu ol li {
    opacity: 1;
    visibility: visible;
    display: block !important / 9
}

.menu li.showMegaMenu:hover ul, .menu li.showMegaMenu:hover .mega-menu, .menu li.showMegaMenu:hover .mega-menu ol li {
    opacity: 1;
    visibility: visible;
    display: block !important / 9
}

.menu li.showMegaMenu.hover ul, .menu li.showMegaMenu.hover .mega-menu, .menu li.showMegaMenu.hover .mega-menu ol li {
    opacity: 1;
    visibility: visible;
    display: block !important / 9
}

.menu ul:after {
    content: "";
    clear: both;
    display: block
}

.menu ul li {
    float: left;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    background-color: green;
}

.menu ul li a {
    display: block;
    padding: 7px 14px 8px 14px;
    font-weight: bold;
    text-decoration: none
}

.menu ul li a.navTitle {
    color: #fff;
    font-weight: bold;
    text-decoration: none
}

.menu ul li a.navTitle span.arr {
    position: relative;
    top: -2px;
    padding-left: 7px;
    zoom: 1;
    filter: alpha(opacity=30);
    opacity: .3
}

.menu ul li a.navTitle:hover {
    color: #fff;
    font-weight: bold;
    text-decoration: none
}

.menu ul li.icon a.navTitle {
    overflow: hidden;
    height: 18px
}

.menu ul li.icon ul li a img {
    position: relative;
    top: 4px;
    padding-right: 7px
}

.menu ul li ul li .arrow:after {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #bbb;
    margin: -2px 0 0 5px
}

.login .button a {
    font-weight: normal
}

.login p {
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #777
}

.login a, .login a:visited {
    color: #777
}

.login a:hover {
    color: green;
    text-decoration: underline
}

.menu i {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    float: left;
    margin: 4px 4px 0 -2px;
    line-height: 14px;
    padding: 0
}

.menu .right {
    float: right
}

.menu .right ul, .menu .right .mega-menu {
    right: 0
}

.menu ul ul {
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0;
    border-bottom: 0;
    position: absolute;
    z-index: 100;
    top: 100%;
    width: 170px;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15)
}

.menu ul ul ul {
    position: absolute;
    z-index: 100;
    left: 100%;
    border-top: 1px solid #e0e0e0;
    top: -1px
}

.menu ul ul li a {
    font-size: 13px;
    font-weight: bold;
    padding: 8px 12px;
    color: #404040;
    border-bottom: 1px solid #e0e0e0;
    border-left: 0 solid #fff
}

.menu ul ul li a.last {
    border-bottom: 1px solid #aaa
}

.menu ul ul li.navSep a {
    background-color: #ececec;
    padding: 2px
}

.menu ul ul li.navSep:hover {
    border-left: 0 solid #fff;
    background: #fff !important;
    background-color: #fff !important
}

.menu ul ul li {
    float: none;
    position: relative;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none
}

.menu ul ul li {
    background: #fff !important
}

.menu ul ul li:hover {
    border-left: 3px solid green;
    background: #f0f3f5 !important;
    background-color: #f0f3f5 !important
}

.mega-menu {
    position: absolute;
    top: 100%;
    z-index: 300;
    padding: 18px 11px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-top: 0;
    color: #777;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.showMegaMenu, .showMegaMenu .mega-menu, .showMegaMenu .mega-menu * {
    background-color: #fff
}

.mega-menu ol {
    list-style: none;
    padding: 0;
    background-color: #fff
}

.mega-menu ol li {
    width: 100%;
    margin-bottom: 5px
}

.mega-menu ol li:hover, .mega-menu ol li a {
    color: #777;
    font-size: 13px;
    padding: 0;
    font-weight: normal;
    background-color: #fff;
    border: 0
}

.mega-menu ol li a:hover {
    color: green;
}

.mega-menu ol li.all a {
    font-weight: bold
}

.mega-menu div h4, .mega-menu div span.headline {
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    display: block;
    border-bottom: 1px solid #e4e4e4 !important;
    padding: 0 0 8px 0 !important;
    margin: 0 0 10px 0 !important
}

.mega-menu div h4 a, .mega-menu div span.headline a {
    font-size: 14px;
    font-weight: bold;
    color: #404040
}

.mega-menu div h4 a:hover, .mega-menu div span.headline a:hover {
    font-size: 14px;
    font-weight: bold;
    color: green;
    text-decoration: underline
}

.mega-menu .col-1 {
    width: 135px
}

.mega-menu .col-2 {
    width: 288px
}

.mega-menu .col-3 {
    width: 441px
}

.mega-menu .col-4 {
    width: 594px
}

.mega-menu .col-5 {
    width: 747px
}

.mega-menu .col-6 {
    width: 900px
}

.mega-menu .col-1, .mega-menu .col-2, .mega-menu .col-3, .mega-menu .col-4, .mega-menu .col-5, .mega-menu .col-6 {
    float: left;
    margin: 0 9px
}

.mega-menu.full-width {
    left: 0;
    width: 100%;
    padding: 18px 0
}

.full-width .col-1 {
    width: 14.10%
}

.full-width .col-2 {
    width: 30.40%
}

.full-width .col-3 {
    width: 46.70%
}

.full-width .col-4 {
    width: 63.00%
}

.full-width .col-5 {
    width: 79.30%
}

.full-width .col-6 {
    width: 95.60%
}

.full-width .col-1, .full-width .col-2, .full-width .col-3, .full-width .col-4, .full-width .col-5, .full-width .col-6 {
    float: left;
    margin: 0 0 0 2.2%
}

.style-1.menu {
    background-color: green;
}

.style-1.menu ul li.green {
    background-color: #843534;
}

.style-1.menu ul li.green:hover {
    background-color: #843534;
}

.style-1.menu ul li:hover {
    background-color: green;
}

#naviLogin {
    height: 200px
}

.menu ul li.highlight a {
    background-color: #f0f3f5;
    color: #404040
}

.menu ul li.highlight:hover {
    margin-right: 0
}

.menu ul li.highlight:hover a {
    padding: 8px 12px
}

.menu .right.customMenu ul, .menu .right.customMenu .mega-menu {
    right: auto !important
}

html, body {
    background: url(../images/bg_main.gif);
    background-position: center;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #4f4f4f
}

body {
    font-size: 10pt;
    line-height: 13.5pt;
}

*, *:after, *:before {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

a {
    font-weight: normal;
    color: green;
    text-decoration: none
}

a:link {
    font-weight: normal;
    color: green;
    text-decoration: none
}

a:visited {
    font-weight: normal;
    color: darkgreen;
    text-decoration: none
}

a:focus {
    font-weight: normal;
    text-decoration: none
}

a:hover {
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer
}

a:active {
    font-weight: normal;
    text-decoration: none
}

.textTitle {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 13.5pt;
    line-height: 18pt;
    font-weight: bold
}

.textCaption {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 12pt;
    line-height: 14.5pt;
    font-weight: bold
}

.textBody {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 10pt;
    line-height: 14pt;
    font-weight: normal;
    color: #585858
}

.textListTitle {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 10.5pt;
    line-height: 13.5pt;
    font-weight: bold
}

.textListBody {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 9pt;
    line-height: 11pt;
    font-weight: normal
}

.textTag {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 10pt;
    color: white;
    font-weight: bold
}

.box .ttsText, .ttsText {
    display: block;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 8pt;
    line-height: 11pt;
    font-weight: normal;
    color: #808080
}

.ttsText b {
    font-weight: bold;
    color: #585858
}

#main {
    border: 1px solid #cecece
}

#header {
    background: #f5f5f5;
    height: 76px;
    float: left;
    color: darkgreen;
}

#logo {
    position: relative;
    top: 20px
}

#content{
    min-height: 520px;
}


#logo a {
    display: block;
    width: 169px;
    height: 39px;
    float: left
}

#slogan {
    color: #fff;
    font-size: 16pt;
    position: relative;
    left: 0 !important;
    bottom: 4px !important;
    width: 600px;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-duration: 1.2s
}

#slogan.multiline {
    position: relative;
    left: 180px;
    bottom: 44px;
    width: 300px
}

#slogan p {
    vertical-align: bottom;
    font-size: 12px;
    line-height: 16px;
    color: #c8d2dc
}

#slogan p.first {
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    color: #fff
}

#slogan p.second {
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s
}

#logo .partner a {
    width: auto;
    height: auto
}

#logo .partner {
    padding-left: 0
}

#logo .partner .first {
    font-weight: bold;
    font-size: 19pt;
    width: 800px;
    top: 0;
    padding-bottom: 45px;
}

#logo .partner .second {
    top: -12px;
    width: 900px;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s
}

.multiselect-group{
    color: #000000;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.partner {
    padding-left: 20px;
    display: inline;
    -webkit-animation-duration: 2.8s;
    -moz-animation-duration: 2.8s;
    -ms-animation-duration: 2.8s;
    -o-animation-duration: 2.8s;
    animation-duration: 2.8s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s
}

.partner p {
    display: inline-block;
    display: inline;
    zoom: 1;
    vertical-align: bottom;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    height: 33px;
    width: 260px;
    position: relative;
    top: -5px;
    padding-left: 10px;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s
}

#navigation {
    background-color: green;
    float: left;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 10pt;
    line-height: 13.5pt;
    font-weight: bold;
    color: #fff;
    z-index: 999;
    position: relative;
    left: 0
}

.floatLeft {
    float: left;
    padding-right: 10px
}

.floatRight {
    float: right;
    padding-left: 10px
}

#searchBox {
    margin-right: 15px;
}

#dateContainer {
    margin-right: 0px;
}

#breadcrumb {
    padding: 15px 0 5px 0;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 10pt;
    line-height: 13.5pt;
    font-weight: normal
}

#breadcrumb li {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 10pt;
    line-height: 13.5pt;
    font-weight: normal;
    display: inline
}

#breadcrumb li a {
    margin-right: 3px
}

#breadcrumb li .divider {
    padding: 0 3px;
    position: relative;
    top: 1px;
    color: #777 !important;
    font-size: 18px !important;
    font-weight: normal !important
}

#breadcrumb li a, #breadcrumb li h1 {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 10pt;
    line-height: 13.5pt;
    font-weight: normal;
    display: inline
}


#formBox {
    margin-top: 10px;
}



#footer {
    padding-top: 50px;
    padding-bottom: 35px;
    color: #fff;
    background-image: url("../images/footer_top_bg.png");
    box-shadow: 0px 4px 1px 2px darkgray;
    border: 0px;
}

#footer h4, #footer span.headline {
    font-size: 10.5pt;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .08)
}

#footer ul, #footer ul li {
    color: #fff;
    font-size: 9pt;
    line-height: 15pt;
    font-weight: normal
}

#footer ul li img {
    padding-right: 5px;
    vertical-align: middle;
    padding-bottom: 2px
}

#footer a, #footer a:link, #footer a:visited, #footer a:focus, #footer a:hover, #footer a:active {
    font-weight: normal;
    color: #fff;
    text-decoration: none
}

#chart {
    margin-bottom: 10px
}

.highcharts-tooltip table {
    background-color: white;
    opacity: .92;
    z-index: 9999 !important
}

#statSrc, #statSrc .ttsText {
    text-align: right
}

#statTable {
    width: 100%
}

#statTable th, #statTable td {
    border: 1px solid #e0e0e0;
    padding: 8px 15px;
    vertical-align: middle
}

#statTable thead tr {
    box-shadow: 0 1px 3px #e6e6e6
}

#statTable tfoot th {
    border-bottom: 0
}

#statTable th {
    color: #4f4f4f;
    font-size: 13px;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    background: #fefefe;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fefefe 0, #f6f7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f6f7f9));
    background: -webkit-linear-gradient(top, #fefefe 0, #f6f7f9 100%);
    background: -o-linear-gradient(top, #fefefe 0, #f6f7f9 100%);
    background: -ms-linear-gradient(top, #fefefe 0, #f6f7f9 100%);
    background: linear-gradient(to bottom, #fefefe 0, #f6f7f9 100%);
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border-bottom-color: #dadada
}

#statTable td {
    color: #696969;
    font-size: 14px;
    text-shadow: 0 1px 0 #fff;
    font-weight: normal;
    line-height: 32px;
    line-height: 18px;
    text-align: center
}

#statTable tr.odd {
    background-color: #fff
}

#statTable tr.even {
    background-color: #f6f7f9
}



.dataTables_filter {
    display: block;
    margin-bottom: 10px;
    float: left
}

.dataTables_filter label, #statTable_length label {
    text-align: left;
    font-weight: normal;
    cursor: default
}

.dataTables_filter input {
    display: inline-block;
    width: 330px;
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
    display: inline
}



.box {
    width: 100%;
    float: left;
    padding: 5px 0 20px 0;
    display: block
}

.box p, .box span {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 10pt;
    line-height: 16pt;
    font-weight: normal;
    color: #2f2f2f
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0
}

.box h3, .promoBox h3, .box .heading, .promoBox .heading, #landingPage .normalStyling .heading {
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 1px solid #cecece;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 10pt;
    line-height: 16pt;
    font-weight: normal;
    color: #979797
}

.promoBox .heading {
    color: #4f4f4f !important;
    font-weight: bold !important
}

.box h4, .promoBox h4, .box .subheading, .promoBox .subheading, #landingPage .normalStyling .subheading {
    display: block;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 11pt;
    line-height: 13.5pt;
    font-weight: bold;
    padding-bottom: 5px;
    overflow: hidden;
    word-wrap: break-word;
    color: #4f4f4f;
    margin: 0;
    border-bottom: 0;
    width: auto
}

.box.cms {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #4f4f4f
}

.topicBox .img {
    float: left;
    padding-right: 10px
}

.topicBox {
    padding: 10px 0
}

.topicSummary {
    overflow: auto
}

.topicSummary h4 a {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 11pt;
    line-height: 13.5pt;
    font-weight: bold;
    color: #4f4f4f
}

.topicSummary h4 a:hover {
    color: green;
    text-decoration: underline
}

.sushiBar {
    background-color: #f0f3f5;
    height: 120px
}

#statistic h2 {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 13.5pt;
    line-height: 18pt;
    font-weight: bold;
    color: #4f4f4f
}

#topicInfo h2, #studyInfo .subheading {
    display: block;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 11pt;
    line-height: 13.5pt;
    font-weight: bold;
    padding-bottom: 5px;
    overflow: hidden;
    word-wrap: break-word;
    color: #4f4f4f
}

#topicInfo img {
    margin-right: 5px;
    padding: 5px
}

#srcInfo h2, #faq h2 {
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #cecece;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 13.5pt;
    line-height: 18pt;
    font-weight: bold
}

#register h1 {
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #cecece;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 13.5pt;
    line-height: 18pt;
    font-weight: bold
}

#infoContainer h1 {
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #cecece;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 13.5pt;
    line-height: 18pt;
    font-weight: bold
}

.box img {
    padding-bottom: 5px
}

#sidebar, #mainContent {
    float: none;
    clear: both
}

.box .textCaption {
    width: 100%;
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #cecece;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 13.5pt;
    line-height: 18pt;
    font-weight: bold
}

.box .statisticCaption {
    width: 100%;
    display: block;
    margin-bottom: 15px
}



#infoBox .btn-group {
    position: relative;
    overflow: hidden
}

#infoBox {
    overflow: hidden;
    background-color: #fff;
    height: 410px;
}

.promoBox {
    display: block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #cecece;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 4px #ababab;
    -webkit-box-shadow: 0 1px 4px #ababab;
    box-shadow: 0 1px 4px #ababab;
}

.promoBox .textCaption {
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #cecece;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 11pt;
    line-height: 13.5pt;
    font-weight: bold
}

.contactBox {
    padding-bottom: 10px
}

.contactBox .cInfo {
    display: block;
    overflow: hidden
}

.contactBox .cInfo .mail {
    display: block;
    line-height: 11pt;
    word-wrap: break-word
}

.contactBox .cInfo span {
    display: block;
    line-height: 11pt;
    margin-bottom: 5px
}

.contactBox .cInfo .contactName {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 12pt;
    line-height: 14pt;
    font-weight: bold;
    border: 0;
    padding: 0 0 5px 0;
    margin: 0
}

.contactBox .cInfo .contactTitle {
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial;
    font-size: 9pt;
    line-height: 11pt;
    font-weight: normal;
    color: #909090;
    border: 0;
    padding: 0 0 10px 0;
    margin: 0
}

.contactBox .img {
    display: block;
    width: 72px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff
}

.contactBox .img img {
    display: block;
    width: 72px;
    height: 72px;
    border: 0;
    margin: 0;
    padding: 0
}


.navbar-nav > li > a {
    padding: 7px 14px 8px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: green;
    color: #ffffff;
}

.dropdown-menu > li > a {
    font-weight: bold;
}

.input-group-addon {
    color: #ffffff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: green;
}

label {
    font-weight: bold;
}

.dropdown-menu {
    background-color: #f5f5f5;
}