<?xml version="1.0" encoding="UTF-8"?>
<organisationUnits>
	#foreach( $organisationUnit in $organisationUnits )	
		<organisationUnit>
			<id>$organisationUnit.id</id>
			<name>$encoder.xmlEncode( $organisationUnit.getName() )</name>
		</organisationUnit>
	#end
</organisationUnits>
