.input {
  width: 100%;
  position: relative;
}
.editor {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0;
}
.is-open {
  opacity: 1;
}
.caret {
  position: absolute;
  top: 15px;
  right: 15px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000000;
}
