<div class="container-fluid">
  <div class="row">
    <div *ngIf="authorities" class="col-sm-8">
      <div
        *ngIf="
          authorities.indexOf('M_dhis-web-dataentry') > -1 ||
          authorities.indexOf('ALL') > -1
        "
      >
        <app-loader
          *ngIf="loading"
          [loadingMessage]="'Loading Distribution Points into view...'"
        ></app-loader>
        <app-message
          *ngIf="loadingError && !loading"
          [type]="'danger'"
          [messageObject]="loadingError"
        >
        </app-message>
        <div class="panel panel-default" *ngIf="!loading && !loadingError">
          <div class="panel-body">
            <ol class="breadcrumb">
              <li
                *ngFor="let ancestor of organisationUnit.ancestors"
                class="breadcrumb-item active"
              >
                <a (click)="open(ancestor)">{{ ancestor.name }}</a>
              </li>
              <li class="breadcrumb-item active" *ngIf="organisationUnit">
                {{ organisationUnit.name }}
              </li>
            </ol>
          </div>
          <div class="panel-body">
            <h4 *ngIf="nextLevel">
              <span
                *ngIf="
                  (globalFilter$ | async).ou.id.indexOf('LEVEL') > -1 ||
                  (globalFilter$ | async).ou.id.indexOf('GROUP') > -1
                "
              >
                Details of {{ (globalFilter$ | async).ou.name }}
              </span>
              <span
                *ngIf="
                  !(
                    (globalFilter$ | async).ou.id.indexOf('LEVEL') > -1 ||
                    (globalFilter$ | async).ou.id.indexOf('GROUP') > -1
                  )
                "
                >Details of {{ nextLevel.name }} in
                {{ organisationUnit.name }}</span
              >
            </h4>
            <h5 class="card-subtitle text-muted">
              <span *ngIf="(globalFilter$ | async).ou.id.indexOf('GROUP') > -1">
                Total Number of {{ (globalFilter$ | async).ou.name }}:
                {{ totalWaterPoints }}
              </span>
              <span
                *ngIf="!((globalFilter$ | async).ou.id.indexOf('GROUP') > -1)"
                >Total Number of Distribution Points in
                {{ organisationUnit.name }}: {{ totalWaterPoints }}</span
              >
            </h5>
            <h5 class="text-muted">
              Total population in {{ organisationUnit?.name }}:
              {{ population$ | async }}
            </h5>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div *ngIf="organisationUnit.children" class="input-group-lg">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="searchText"
                    (ngModelChange)="search($event)"
                    placeholder="Search for..."
                  />
                </div>
              </div>
              <div class="col-lg-4 col-sm-8">
                <div class="row">
                  <div
                    class="col-sm-12"
                    style="height:46px"
                    tooltip="Completeness is calculated by the number of distribution points with data entered divide by the number of total distribution point"
                  >
                    <div class="row">
                      <div class="col-sm-12 key-head">
                        Distribution point completeness status
                      </div>
                      <div class="col-sm-3 red key">0% - 39%</div>
                      <div class="col-sm-3 yellow key">40% - 80%</div>
                      <div class="col-sm-3 green key">81% - 100%</div>
                      <div class="col-sm-3 na key">N/A</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-8">
                <div *ngIf="info" class="row">
                  <div class="col-sm-12">Last Analytics</div>
                  <div class="col-sm-12">{{ info | amTimeAgo }}</div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-4">
                <div class="btn-group pull-right" role="group">
                  <button
                    tooltip="Create New Distribution Point"
                    *ngIf="
                      !readonly &&
                      organisationUnit.level == waterPointParentLevel - 1 &&
                      (authorities.indexOf('ALL') > -1 ||
                        authorities.indexOf('F_ORGANISATIONUNIT_ADD') > -1)
                    "
                    (click)="openWaterPoint()"
                    class="btn btn-primary btn-lg"
                  >
                    <i class="fa fa-plus" aria-hidden="true"> </i>
                  </button>
                  <div *ngIf="readonly" class="btn-group" dropdown>
                    <button
                      dropdownToggle
                      type="button"
                      class="btn btn-primary btn-lg dropdown-toggle"
                    >
                      <i class="fa fa-download" aria-hidden="true"> </i>
                    </button>
                    <ul
                      *dropdownMenu
                      class="dropdown-menu dropdown-menu-right"
                      role="menu"
                    >
                      <li *ngIf="nextLevel.level == 6">
                        <a
                         (click)="download()"
                          target="downloadIframe"
                          download="download thing"
                          class="dropdown-item"
                          >Download Distribution Points in
                          <b>{{ (globalFilter$ | async).ou.name }}</b> in
                          {{ (globalFilter$ | async).pe.name }}
                        </a>
                      </li>
                      <li
                        *ngIf="
                          (globalFilter$ | async).ou.id.indexOf('LEVEL-6') > -1
                        "
                      >
                        <a
                          target="downloadIframe"
                          download="download thing"
                          class="dropdown-item"
                          href="../../../api/sqlViews/xKIPYHtyMZ2/data.csv{{
                            getCSVURL()
                          }}"
                          >Download 
                          <b>{{ (globalFilter$ | async).ou.name }}</b> in
                          {{ (globalFilter$ | async).pe.name }}
                        </a>
                      </li>
                      <li
                        *ngIf="
                          (globalFilter$ | async).ou.id.indexOf('OU_GROUP') > -1
                        "
                      >
                        <a
                          target="downloadIframe"
                          download="download thing"
                          class="dropdown-item"
                          href="../../../api/sqlViews/zKpCM4JBZfF/data.csv{{
                            getGroupCSVURL((globalFilter$ | async).ou.id)
                          }}"
                          >Download
                          <b>{{ (globalFilter$ | async).ou.name }}</b> in
                          {{ (globalFilter$ | async).pe.name }}
                        </a>
                      </li>
                      <li
                        *ngIf="
                          (globalFilter$ | async).ou.id.indexOf('LEVEL-6') ==
                            -1 &&
                          (globalFilter$ | async).ou.id.indexOf('OU_GROUP') ==
                            -1 &&
                          nextLevel.level != 6
                        "
                      >
                        <a class="dropdown-item" (click)="download()"
                          >Download {{ nextLevel.name }} in
                          <b>{{ (globalFilter$ | async).ou.name }}</b> in
                          {{ (globalFilter$ | async).pe.name }}
                        </a>
                      </li>
                      <li>
                        <a
                          class="dropdown-item"
                          href="../../../api/sqlViews/ZUl4w8svGeN/data.xls?var=orgunitid:{{
                            id
                          }}"
                          >Download Villages in
                          <b>{{ organisationUnit.name }}</b> With No
                          Distribution Points</a
                        >
                      </li>
                      <!--<li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" href="/api/sqlViews/frQwwuGtELy/data.xls">Download Users</a>
                  </li>-->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="downloadLoad"></div>
            <app-loader
              *ngIf="downloadLoad"
              [loadingMessage]="'Please be patient. Downloading CSV...'"
            ></app-loader>
            <div *ngIf="downloadError" class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Oh snap!</h4>
              Try downloading again.
            </div>
            <br />
            <table
              *ngIf="level == waterPointParentLevel"
              class="table table-bordered table-hover"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th (click)="changeOrder('name')">Name</th>
                  <th (click)="changeOrder('code')">Code</th>
                  <th (click)="changeOrder('completeness')">Project</th>
                  <th>Basin</th>
                  <th>Status (For {{ (globalFilter$ | async).pe.name }})</th>
                </tr>
              </thead>
              <tbody *ngIf="!loadPaging">
                <tr
                  [ngClass]="{ selected: selectedWaterPoint == child.id }"
                  tooltip="Click to see/edit details of {{ child.name }}"
                  *ngFor="let child of organisationUnit.children; let i = index"
                  (click)="openWaterPoint(child.id)"
                >
                  <th scope="row">
                    {{
                      ((pager.page ? pager.page : 1) - 1) * pager.pageSize +
                        1 +
                        i
                    }}
                  </th>
                  <td>{{ child.name }}</td>
                  <td>{{ child.code }}</td>
                  <td>{{ child | attribute: 'Project Name' }}</td>
                  <td>{{ child | attribute: 'Basin' }}</td>
                  <td 
                    [ngClass]="{
                      red: child.completeness < 40 || child.status == 'error',
                      yellow:
                      child.completeness >= 40 && child.completeness <= 80,
                      green: child.completeness > 80,
                      na: child.completeness < 0,
                      loadcolor: !child.status
                    }"
                  >
                    <span
                      *ngIf="
                        child.completeness != 'loading' &&
                        child.completeness > -1 &&
                        child.status == 'loaded'
                      "
                      >{{
                        child.completeness.toFixed(1) > 100
                          ? child.completeness.toFixed(1)
                          : child.completeness.toFixed(1)
                      }}%</span
                    >
                    <span *ngIf="child.completeness == -1"></span>
                    <span *ngIf="!child.status">Loading...</span>
                    <span *ngIf="child.status == 'error'">{{
                      child.statusMessage
                    }}</span>
                  </td>
                </tr>
                <tr *ngIf="organisationUnit.children.length == 0">
                  <td colspan="6">
                    <div class="alert alert-info" role="alert">
                      <strong>Heads up!</strong> There is no distribution point
                      registered in {{ organisationUnit.name }}
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr *ngIf="loadPaging">
                  <td colspan="100%">
                    <app-loader
                      [loadingMessage]="'Loading Page into view...'"
                    ></app-loader>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              *ngIf="level != waterPointParentLevel"
              class="table table-bordered table-hover"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th (click)="changeOrder('name')">Name</th>
                  <th (click)="changeOrder('code')">Code</th>
                  <th (click)="changeOrder('completeness')">
                    Status (For {{ (globalFilter$ | async).pe.name }})
                    <span *ngIf="date"
                      >(For {{ monthNames[date.getMonth()] }}
                      {{ date | date: 'yyyy' }})</span
                    >
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="!loadPaging">
                <tr
                  tooltip="Click to see details of {{ child.name }}"
                  *ngFor="let child of organisationUnit.children; let i = index"
                  (click)="open(child)"
                >
                  <th scope="row">
                    {{
                      ((pager.page ? pager.page : 1) - 1) * pager.pageSize +
                        1 +
                        i
                    }}
                  </th>
                  <td>{{ child.name}}</td>
                  <td>{{ child.code }}</td>
                  <td
                    [ngClass]="{
                      red: child.completeness < 40 || child.status == 'error',
                      yellow:
                        child.completeness >= 40 && child.completeness <= 80,
                      green: child.completeness > 80,
                      na: child.completeness < 0,
                      loadcolor: !child.status
                    }"
                  >
                    <span
                      *ngIf="
                        child.completeness != 'loading' &&
                        child.completeness > -1 &&
                        child.status == 'loaded'
                      "
                      >{{
                        child.completeness.toFixed(1) > 100
                          ? child.completeness.toFixed(1)
                          : child.completeness.toFixed(1)
                      }}%</span
                    >
                    <span *ngIf="child.completeness == -1"></span>
                    <span *ngIf="!child.status">Loading...</span>
                    <span *ngIf="child.status == 'error'">{{
                      child.statusMessage
                    }}</span>
                  </td>
                </tr>
                <tr *ngIf="organisationUnit.children.length == 0 && nextLevel">
                  <td colspan="100%">
                    <div class="alert alert-info" role="alert">
                      <strong>Heads up!</strong> There is no

                      <span
                        *ngIf="
                          (globalFilter$ | async).ou.id.indexOf('LEVEL') > -1 ||
                          (globalFilter$ | async).ou.id.indexOf('GROUP') > -1
                        "
                      >
                        {{ (globalFilter$ | async).ou.name }}
                      </span>
                      <span
                        *ngIf="
                          !(
                            (globalFilter$ | async).ou.id.indexOf('LEVEL') >
                              -1 ||
                            (globalFilter$ | async).ou.id.indexOf('GROUP') > -1
                          )
                        "
                        >{{ nextLevel.name }} in
                        {{ organisationUnit.name }}</span
                      >.
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr *ngIf="loadPaging">
                  <td colspan="100%">
                    <app-loader
                      [loadingMessage]="'Loading Page into view...'"
                    ></app-loader>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div
                class="col-lg-4 col-md-4 col-sm-4"
                style="line-height: 45px;"
              >
                Showing
                {{
                  ((pager.page ? pager.page : 1) - 1) * pager.pageSize + 1
                }}
                to
                {{
                  (pager.page ? pager.page : 1) * pager.pageSize > pager.total
                    ? pager.total
                    : (pager.page ? pager.page : 1) * pager.pageSize
                }}
                of {{ pager.total }}
                <span *ngIf="nextLevel">{{ nextLevel.name }}</span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="pull-right">
                  <pagination
                    [totalItems]="pager.total"
                    [(ngModel)]="pager.page"
                    [itemsPerPage]="pager.pageSize"
                    [maxSize]="5"
                    class="pagination-lg"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    (pageChanged)="pageChanged($event)"
                  ></pagination>
                  <!--<div style="display:none">
                <pagination-controls (pageChange)="setPage($event)"></pagination-controls>
              </div>-->
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="btn-group pull-right" dropdown>
                  <button type="button" class="btn btn-default btn-lg" disabled>
                    Show
                  </button>
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle dropdown-toggle-split btn-lg"
                    dropdownToggle
                  >
                    <span>{{ pager.pageSize }}</span>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-right"
                    *dropdownMenu
                    role="menu"
                    aria-labelledby="split-button"
                  >
                    <li
                      role="menuitem"
                      *ngFor="let selectedPageSize of pageClustering"
                    >
                      <a
                        class="dropdown-item pull-right"
                        (click)="setPageSize(selectedPageSize.value)"
                        >{{ selectedPageSize.name }}</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="panel-body">
        <div class="row">
          <div class="col-sm-6" *ngFor="let dataSet of organisationUnit.dataSets; let i = index;">
            <app-dataset [dataSet]="dataSet" [organisationUnit]="organisationUnit"></app-dataset>
          </div>
        </div>
      </div>-->
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div *ngIf="codeError" class="row">
        <div class="col-sm-12">
          <div class="alert alert-danger" role="alert">
            <strong>Code Error!</strong> {{ codeError.name }} has no code.
            Please contact administrator to fill in the code through maintenance
            app.
          </div>
        </div>
      </div>
      <div *ngIf="deletedOrgUnit" class="row">
        <div class="col-sm-12">
          <div class="alert alert-info" role="alert">
            <strong>Delete Successfull!</strong> {{ deletedOrgUnit.name }} has
            been deleted successfully.
          </div>
        </div>
      </div>
      <!-- <app-statict-data-entry *ngIf="selectedWaterPoint" [(organisationUnitId)]="selectedWaterPoint" [actionType]="'edit'"></app-statict-data-entry> -->
      <!-- <router-outlet></router-outlet> -->
      <div *ngIf="selectedWaterPoint && !readonly && !loadWaterPoint">
        <app-water-point
          [id]="selectedWaterPoint"
          [parentId]="id"
          (completenessNotification)="completed($event)"
          (addOrUpdateDitributionPoint)="addOrUpdateDitributionPoint($event)"
          (deleteDitributionPoint)="deleteDitributionPoint($event)"
          (cancelDitributionPoint)="cancelDitributionPoint($event)"
        ></app-water-point>
      </div>
    </div>
  </div>
</div>
