
<h3>$i18n.getString( "dhis-web-caseentry" )</h3>

<ul class="introList">
	#if( $auth.hasAccess( "dhis-web-caseentry", "anonymousRegistration" ) )
		#introListImgItem( "anonymousRegistration.action" "anonymous_events" "attribute" )
	#end

	#if( $auth.hasAccess( "dhis-web-caseentry", "generateTabularReport" ) )
		#introListImgItem( "app/index.html" "tabular_report" "summaryreport" )
	#end

</ul>