
<!--<div id="leftBar">
    <d2-left-bar></d2-left-bar>

</div>-->
<div id="mainPage" style="margin: 5px; overflow-x:hidden">
    <h2 style="text-align:center; margin-top:45px;">Welcome to IDSP  REPORT</h2>
    <div id="date" style="font-size: 18px"></div>

    <h5 style="margin-top:50px">Form S ( Possible Diagnosis ) </h5>
<div class="table-responsive"  style="font-size: 9pt; float:right">
    <table class="table table-bordered">

        <tr>
            <td  style="width:50px; background-color:pink;border-color:#FFFFFF;margin-left:100px;white-space:nowrap" ></td>
            <td  style="border-color:#FFFFFF; background-color:white;white-space:nowrap">Data Not confirmed</td>
			
            <td  style="width:50px; background-color:red;border-color:#FFFFFF; margin-left:50px;white-space:nowrap"></td>
            <td  style="border-color:#FFFFFF;background-color:white;white-space:nowrap">Single death , More than 5 cases per 1000 population </td>

        </tr>

        <tr>
            <td style="width:50px; background-color:green;border-color:#FFFFFF;white-space:nowrap"></td>
            <td style="border-color:#FFFFFF;background-color:white;white-space:nowrap"> zero cases</td>
            <td style="width:50px; background-color:yellow;border-color:#FFFFFF;white-space:nowrap"></td>
            <td style="border-color:#FFFFFF;background-color:white;white-space:nowrap">< 5 cases per 1000 population </td>

        </tr>
    </table>
	</div>
	<div style="clear:both"></div>
    <div id="link" style="font-size: 16px"></div>
    <div class="table-responsive"  style="font-size: 9pt;">
    <table class="table table-bordered table-striped" id="demo_form_s" align="right" style="overflow: hidden;">
	</table>
	</div>


    <h5>Form P ( Possible Diagnosis ) </h5>

<div class="table-responsive" style="font-size: 9pt; float:right">
    <table class="table table-bordered">
<!--<div style="overflow-x:auto;">-->
        <tr>
            <td style="width:50px; background-color:pink;border-color:#FFFFFF;white-space:nowrap" ></td>
            <td style="border-color:#FFFFFF; background-color:white;white-space:nowrap">Data Not confirmed</td>
            <td style="width:50px; background-color:red;border-color:#FFFFFF;white-space:nowrap"></td>
            <td style="border-color:#FFFFFF; background-color:white;white-space:nowrap">Single death , More than 5 cases per 1000 population </td>

        </tr>

        <tr>
            <td style="width:50px; background-color:green;border-color:#FFFFFF;white-space:nowrap"></td>
            <td style="border-color:#FFFFFF; background-color:white;white-space:nowrap"> zero cases</td>
            <td style="width:50px; background-color:yellow;border-color:#FFFFFF;white-space:nowrap"></td>
            <td style="border-color:#FFFFFF; background-color:white;white-space:nowrap">< 5 cases per 1000 population </td>

        </tr>
    </table>
	</div>
	
	<div style="clear:both"></div>
<!--</div>-->
    <div id="link1" style="font-size: 16px"></div>
    <div class="table-responsive"  style="font-size: 9pt; overflow:hidden">
    <table class="table table-bordered table-striped" id="demo_form_p" align="right" style="overflow: hidden;"></table>
	</div>

    <h5>Form L ( Possible Diagnosis ) </h5>

    <div class="table-responsive" style="font-size: 9pt; float:right">
    <table class="table table-bordered">

        <tr>
            <td style="width:50px; background-color:pink;border-color:#FFFFFF;white-space:nowrap" ></td>
            <td style="border-color:#FFFFFF; background-color:white;white-space:nowrap">Data Not confirmed</td>
            <td style="width:50px; background-color:red;border-color:#FFFFFF;white-space:nowrap"></td>
            <td style="border-color:#FFFFFF; background-color:white;white-space:nowrap">Single death , More than 5 cases per 1000 population </td>

        </tr>

        <tr>
            <td style="width:50px; background-color:green;border-color:#FFFFFF;white-space:nowrap"></td>
            <td style="border-color:#FFFFFF; background-color:white;white-space:nowrap"> zero cases</td>
            <td style="width:50px; background-color:yellow;border-color:#FFFFFF;white-space:nowrap"></td>
            <td style="border-color:#FFFFFF; background-color:white;white-space:nowrap">< 5 cases per 1000 population </td>

        </tr>
    </table>
	</div>
	
	<div style="clear:both"></div>
    <div id="link2" style="font-size: 16px"></div>
     <div class="table-responsive" style="font-size: 9pt;">
    <table class="table table-bordered table-striped " id="demo_form_l" align="right" style="overflow: hidden;"></table>
	</div>
</div>