<div class="row">
  <div [ngClass]="(selected == '')? 'col-12' : 'col-10'">
    <ng-template #defaultTemplate let-option="option">
      {{option[settings.textField]}}
    </ng-template>
    <div class="btn-group input" dropdown [isOpen]="isOpen" (onShown)="isOpen = true" (onHidden)="isOpen = false">
      <input class="form-control dropdown-toggle" [(ngModel)]="selected" />
      <input dropdownToggle [ngClass]="{'is-open':isOpen}" class="form-control dropdown-toggle editor" (blur)="onBlur()" [(ngModel)]="searchText"
        placeholder="Type to Search" />
      <span (click)="toggleDropdown($event)" class="caret"></span>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem" *ngFor="let option of options | fuseSearch:searchOptions:searchText" (click)="select(option)">
          <a class="dropdown-item">
            <ng-template [ngTemplateOutlet]="template || defaultTemplate" [ngTemplateOutletContext]="{option: option}"></ng-template>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="selected != ''" title="Click to clear" (click)="clearValue()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
</div>