
<script type="text/javascript">

function formValidations()
{
    		
	var reportList = document.getElementById("selectedReportId");
    var reportIndex = reportList.selectedIndex;
    if( reportList.options[reportIndex].value == null || reportList.options[reportIndex].value== "-1" )
    {
        showWarningMessage( "Please Select Report" );
        return false; 
    }		
	
	var startPeriodList = document.getElementById("selectedPeriodId");
    var startPeriodIndex = startPeriodList.selectedIndex;
    if( startPeriodList.options[startPeriodIndex].value == null || startPeriodList.options[startPeriodIndex].value== "-1" ) 
	{ 
		showWarningMessage( "Please Select Period" );
		return false; 
	}
	
	var reportFormatList = document.getElementById("selectedReportFormat");
    var reportFormatIndex = reportFormatList.selectedIndex;
    if( reportFormatList.options[reportFormatIndex].value == null || reportFormatList.options[reportFormatIndex].value== "-1" )
    {
        showWarningMessage( "Please Select Report Format" );
        return false; 
    }
	


	
    return redirectTorptDesign();
}

	
    function redirectTorptDesign()
    {
		var period = $('#selectedPeriodId').val();
	    
		var startPeriod = period.split(":")[0];
		var endPeriod = period.split(":")[1];
		
		var selectedReportValue = $('#selectedReportId').val();
		var reportRPTDesignFile = selectedReportValue.split(":")[0];
		var reportOrgUnitGroupId = selectedReportValue.split(":")[2];
		
		var orgUnitId = $('#orgUnitUid').val();
		
		var reportFormat =  $('#selectedReportFormat').val();
		
		//alert( startPeriod + ":" + endPeriod  + ":" + reportRPTDesignFile + ":" + reportOrgUnitGroupId + ":" + orgUnitId + ":" + reportFormat  );
		
		
		//http://rbf.gov.la/birt/run?__report=/home/dhis/tomcat-8/webapps/birt/report/Healthprovider_HC_report4.rptdesign&__format=pdf&startDate=2014-01-01&endDate=2014-01-31&orgUnit=zlPRdyn2sA6&groupId=1518
		
		// url for la server
		baseUrl = "http://rbf.gov.la";
		var birtReportURL = baseUrl + "/birt/run?__report=/home/dhis/tomcat-8/webapps/birt/report/"+reportRPTDesignFile+"&__format="+reportFormat+"&startDate="+startPeriod+"&endDate="+endPeriod+"&orgUnit="+orgUnitId+"&groupId="+reportOrgUnitGroupId;
		
		// url for testing
		/*
		baseUrl = "http://hospdev.hispindia.org";
		var birtReportURL = baseUrl + "/birt_rbf/run?__report=/home/hisp/tomcat_rbf_testing/webapps/birt_rbf/report/"+reportRPTDesignFile+"&__format="+reportFormat+"&startDate="+startPeriod+"&endDate="+endPeriod+"&orgUnit="+orgUnitId+"&groupId="+reportOrgUnitGroupId;
		*/
		
		
		
		
		//window.location.href =  birtReportURL;
		
		window.open(birtReportURL, '_blank');
		
	    return true;
    }

</script>








<h3>$i18n.getString( "pbf_report_management" )</h3>

<form id="generateReportForm" name="generateReportForm" method="Get" action="#" onsubmit="return formValidations()" >
	<table>
		<!--
		<tr style="display:none;">
			<td class="NormalB">
   			    <select id="periodTypeId" name="periodTypeId" style="width:200px; display:none">
					<option value="$periodTypeName">$periodTypeName</option>
				</select>
    		</td>
       	</tr>
		-->
        <tr>
			<td class="NormalB">OrganisationUnit</td>
			<td>
				<input type="text" name="ouNameTB" id="ouNameTB" style="width:215px" disabled>
				<input type="hidden" name="orgUnitUid" id="orgUnitUid">	
			</td>
		</tr>
		
		<tr>
			<td><label for="report">$i18n.getString( "report" )</label></td>
			<td>
				<select id="selectedReportId" name="selectedReportId" style="width:220px" onchange="getReportPeriods();">
					<option value="-1">[$i18n.getString( "select" )]</option>
					
				</select>
			</td>
		</tr>	
		

		<!--
		<tr>
			<td><label for="startDate">$i18n.getString( 'start_date' ) ($i18n.getString( "format.date.label" ))</label></td>
            <td><input type="text" id="startDate" name="startDate" onChange="if(!isDate( this.value )) this.value='';" style="width:215px" class="{validate:{required:true,dateISO:true}}" /></td>			
		</tr>

		<tr>
			<td><label for="endDate">$i18n.getString( 'end_date' ) ($i18n.getString( "format.date.label" ))</label></td>
			<td><input type="text" id="endDate" name="endDate" onChange="if(!isDate( this.value )) this.value='';"  style="width:215px" class="{validate:{required:true,dateISO:true}}" /></td>
		</tr>		
		-->
		
		<tr>
			<td><label for="selectedPeriodId">$i18n.getString( "period" )</label></td>
			<td><select id="selectedPeriodId" name="selectedPeriodId" style="width:220px" >
					<option value="-1">[$i18n.getString( "select" )]</option>
						#foreach( $period in $periods )
							<!--<option value="$period.isoDate">$encoder.htmlEncode( $period.name )</option>-->
							#set( $periodId =  $period.getStartDateString() + ':' + $period.getEndDateString() )
							<option value="$periodId">$encoder.htmlEncode( $period.name )</option>
						#end
				</select>
			</td>
			<input type="hidden" name="reportPeriodTypeName" id="reportPeriodTypeName">	
		</tr>
		
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="button" id="prevButton" disabled="disabled" style="width:75px" value="$i18n.getString( 'prev_year' )" title="$i18n.getString('earlier_periods')" onclick="getPBFAvailablePeriodsTemp('selectedPeriodId', '-1' )" >
				<input type="button" id="nextButton" disabled="disabled"  style="width:75px" value="$i18n.getString( 'next_year' )" title="$i18n.getString('later_periods')" onclick="getPBFAvailablePeriodsTemp(  'selectedPeriodId', '1' )" >
			</td>
			
		</tr>	
		
		<tr>
            <td><label for="outputFormat">$i18n.getString( "outputFormat" )</label></td>
			<td>
				<select id="selectedReportFormat" name="selectedReportFormat" style="width:220px" >
                    <option value="-1">[$i18n.getString( "select" )]</option>
                    <option value="pdf">PDF</option>
                    <option value="xls_spudsoft">XLS</option>       
                </select>
            </td>
		</tr>		
		
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="button" id="generate" name="generate" value="$i18n.getString( 'generate' )" style="width:10em" onclick="formValidations()" />
            
			</td>
			<td>
				<input type="hidden" name="ouIDTB" id="ouIDTB">
				<input type="hidden" name="reportTypeNameTB" id="reportTypeNameTB" value="$reportTypeName">
      		</td>
		</tr>	
	
	</table>

</form>

<script type="text/javascript"> 
    jQuery( function(){
            datePickerInRange( "startDate", "endDate", false, false );
    });     
</script>