i.fa{
  font-size:20px;
  cursor:pointer;
  opacity:0.5;
}
i.fa:hover{
  font-size:20px;
  cursor:pointer;
  opacity:1;
}
.datePickerShow{
  display:block
}
.datePickerHide{
  display:none
}
.datePicker{
  position:absolute;
  z-index:20;
}
