<div>
  <div *ngIf="!editing">
    <div *ngIf="valueType == 'TEXT'">
      {{ objectRefference[valueAttribute] }}
    
    </div>
    <div *ngIf="attributeValue">
      <span *ngIf="attributeValue.attribute.valueType != 'DATE'">{{
        attributeValue.value
      }}</span>
      <span *ngIf="attributeValue.attribute.valueType == 'DATE'"
        ><span *ngIf="attributeValue.value != ''">{{
          attributeValue.value | date: 'dd-MM-yyyy'
        }}</span></span
      >
    </div>
  </div>
  <div *ngIf="editing">
    <div *ngIf="valueType == 'TEXT'" class="form-group">
      <input
        type="text"
        [(ngModel)]="objectRefference[valueAttribute]"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="{{ placeholder }}"
      />
      <small class="form-text text-muted">{{ description }}</small>
    </div>
    <div *ngIf="attributeValue" class="form-group">
      <div *ngIf="attributeValue.attribute.optionSet">
        <div>
          <ng-template #optionTemplate let-option="option">
            {{ option.name }}({{ option.code }})
          </ng-template>
          <app-select
            *ngIf="attributeValue.attribute.name == 'Project'"
            name="attribute"
            [selected]="attributeValue.value"
            [options]="attributeValue.attribute.optionSet.options"
            [settings]="selectionInputSettings"
            (valueSelected)="valueSelected($event)"
            [template]="optionTemplate"
          >
          </app-select>
          <app-select
            *ngIf="attributeValue.attribute.name != 'Project'"
            name="attribute"
            [selected]="attributeValue.value"
            [options]="attributeValue.attribute.optionSet.options"
            [settings]="selectionInputSettings"
            (valueSelected)="valueSelected($event)"
          >
          </app-select>
        </div>
      </div>
      <div *ngIf="!attributeValue.attribute.optionSet">
        <div
          *ngIf="
            attributeValue.attribute.name.toLowerCase().indexOf('year') > -1
          "
        >
          <year-picker
            [initialValue]="attributeValue.value"
            (yearSelected)="valueSelected($event)"
          ></year-picker>
        </div>
        <div
          *ngIf="
            attributeValue.attribute.name.toLowerCase().indexOf('year') == -1
          "
        >
          <!--<input *ngIf="attributeValue.attribute.name == 'Old Code'" type="text" readonly class="form-control"
                 aria-describedby="emailHelp" value="{{attributeValue.value}}">-->
          <div>
            <input
              [(ngModel)]="attributeValue.value"
              *ngIf="attributeValue.attribute.valueType == 'INTEGER'"
              type="number"
              class="form-control"
              aria-describedby="emailHelp"
              min="0"
              value="{{ attributeValue.value }}"
              step="1"
            />

            <input
              [(ngModel)]="attributeValue.value"
              *ngIf="attributeValue.attribute.valueType == 'TEXT'"
              type="text"
              class="form-control"
              aria-describedby="emailHelp"
              value="{{ attributeValue.value }}"
            />
            <div
              *ngIf="
                attributeValue.attribute.valueType == 'INTEGER_ZERO_OR_POSITIVE'
              "
            >
              <input
                [(ngModel)]="attributeValue.value"
                #text
                type="number"
                class="form-control"
                (ngModelChange)="positiveIntegerZero($event, text)"
                [min]="
                  attributeValue.attribute.action &&
                  attributeValue.attribute.action.min
                    ? attributeValue.attribute.action.min
                    : 0
                "
                [max]="
                  attributeValue.attribute.action &&
                  attributeValue.attribute.action.max
                    ? attributeValue.attribute.action.max
                    : ''
                "
                [disabled]="
                  attributeValue.attribute.action &&
                  attributeValue.attribute.action.disabled
                "
                step="1"
              />
              <div *ngIf="isInvalid" class="alert alert-danger" role="alert">
                <div>
                  <h4 class="alert-heading"></h4>
                  {{ errorMessage }}
                </div>
              </div>
            </div>

            <div
              class="row"
              *ngIf="attributeValue.attribute.valueType == 'DATE'"
            >
              <div class="col-sm-12">
                {{ attributeValue.value }}
                <my-date-picker
                  [options]="{
                    todayBtnTxt: 'Today',
                    dateFormat: 'yyyy',
                    firstDayOfWeek: 'mo',
                    sunHighlight: true,
                    height: '34px',
                    width: '260px',
                    showClearDateBtn: false,
                    inline: false,
                    selectionTxtFontSize: '16px'
                  }"
                  [(selDate)]="attributeValue.value"
                  (dateChanged)="dateChanged($event, attributeValue)"
                ></my-date-picker>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
