<script type="text/javascript">
jQuery(document).ready( function(){
        validation( 'addLocationForm', function(form){
            if( isSubmit && validateAddLocation() ) {
                form.submit( i18n_field_is_required );
            }
        }, function( ){
            isSubmit = true;
        }); 
    }); 

</script>

<h3>$i18n.getString( "add_new_location_details" )</h3>

<form id="addLocationForm" name="addLocationForm" action="addLocation.action" method="post" class="inputForm">

<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>

	<tr>
		<td style="width:200px"><label for="organisationUnit">$i18n.getString( "parent_organisation_unit" )</label></td>
		<td style="width:120px">
			<input type="text" name="orgUnitName" id="orgUnitName" value="$!organisationUnit.getName()" style="width:300px" readonly="true"/>
			<input type="hidden" name="orgUnitId" id="orgUnitId" value="$!organisationUnit.getId()" />
		</td>
	</tr>
<!--
	<tr>
		<td style="width:200px"><label for="organisationUnit">$i18n.getString( "parent_organisation_unit_code" )</label></td>
		<td style="width:120px">
			<input type="text" name="orgUnitName" id="orgUnitName" value="$!organisationUnit.getCode()" style="width:300px" readonly="true"/>
		</td>
	</tr>
-->	
	<tr>
		<td style="width:120px"><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" class="{validate:{required:true,rangelength:[4,160]}}"/></td>
	</tr>
	<!--
	<tr>
		<td><label for="shortName">$i18n.getString( "short_name" )</label></td>
		<td><input type="text" id="shortName" name="shortName"></td>
	</tr>
	-->
	<tr>
		<td><label for="code">$i18n.getString( "code" )</td>
		<td><input type="text" id="code" name="code" /></td>
	</tr>


<!--	
	<tr>
		<td style="height:15px" colspan="2">
	</tr>

    <tr>
		<th colspan="2">$i18n.getString( "contact_details" )</th>
    </tr>
	<tr>
		<td style="width:120px"><label for="contactPerson">$i18n.getString( "contact_person" ) </label></td>
		<td><input type="text" id="contactPerson" name="contactPerson"></td>
	</tr>
	<tr>
		<td><label for="address">$i18n.getString( "address" ) </label></td>
		<td><input type="text" id="address" name="address"></td>
	</tr>
	<tr>
		<td><label for="email">$i18n.getString( "email" )</label></td>
		<td><input type="text" id="email" name="email" class="{validate:{email:true,rangelength:[4,160]}}" /></td>
	</tr>
    <tr>
        <td><label for="phoneNumber">$i18n.getString( "phoneNumber" )</label></td>
        <td><input type="text" id="phoneNumber" name="phoneNumber"></td>
    </tr>	
-->

    <tr style="display:none">
		<td><label for="active">$i18n.getString( "active" )</label></td>
		<td>
			<input type='checkbox' id="active" name="active" value='true' checked >
		</td>		
	</tr>

	<tr>
		<td style="height:15px" colspan="2"></td>
	</tr>
	
	<tr>
		<td>&nbsp;</td>
		<td>
			<input type="submit" name="save" value="$i18n.getString( 'add' )" style="width:150px" />
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='getLocationList.action'" style="width:150px" />
		</td>
	</tr>	
	
	
</table>

</form>

<span id="message"></span>
<script type="text/javascript">
    var i18n_field_is_required = '$encoder.jsEscape( $i18n.getString( "field_is_required" ) , "'") ';
</script>