
<h3>$i18n.getString( "asha_performance_List" )</h3>


<div id='ashaPerFormanceListDiv'>
<table class="mainPageTable">
	<tr>
		<td>
			<table class="listTable" id="listTable"> 
				<colgroup>
					<col width="30"/>
					<col/>
					<col/>
					<col/>
					<col width="200"/>
				</colgroup>   
				<thead>
					<tr>
						<th>#</th>
						<th class="{sorter: false}">$i18n.getString( "name_asha" )</th>
						<th class="{sorter: false}">$i18n.getString( "asha_facilitator_name" )</th>
						<th class="{sorter: false}">$i18n.getString( "village" )</th>
						<!--<th class="{sorter: 'digit'}">$i18n.getString( "performance_score" )</th>-->
						<th class="{sorter: false}">$i18n.getString( "performance_score" )</th>
					</tr>
				</thead>
				<tbody id="list">   
					#set( $count=1 )
					#foreach( $patient in $patientList )
						
						<tr id="tr${patient.id}">
							<td>
								$count
							</td>
							
							<td>$encoder.htmlEncode( $patient.getFullName() )</td>
							<td>$encoder.htmlEncode( $!facilitator.getName() )</td>
							
							#set( $attributeValueMapId =  $patient.id + ':' + $attributeId )
							<td>$!patientAttributeValueMap.get( $attributeValueMapId )</td>
							
							<td>$!facilitatorPerformanceScoreValueMap.get( $patient.id )</td>
							
						</tr>
						#set($count = $count + 1)
					#end
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td>
            <p></p>
            <div class="paging-container">
                ##parse( "/dhis-web-commons/paging/paging.vm" )
            </div>
        </td>
    </tr>
</table>
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        setTableStyles();
        //tableSorter( 'listTable' ); 
    });
    
    jQuery(document).ready(function(){	
		tableSorter( 'listTable' );	
	});
    
    
    var i18n_asha_details = '$encoder.jsEscape( $i18n.getString( "asha_details" ) , "'" )';
    var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_asha" ) , "'" )';
</script>
		
