
<script type="text/javascript" src="javascript/ashaTrainingDataEntry.js"></script>

## Macro for generating the jQuery validation rules 
#macro( validate $type $require )
  #if( $type == "NUMBER" )
  	{validate:{ number:true #if($require), required:true #end }}
  #elseif( $type == "string" )
  	{validate:{ alphanumeric:true #if($require), required:true #end }}
  #elseif( $require )
  	{validate:{required:true}}
  #end
#end


<script type="text/javascript">
	var i18n_select_period = '$encoder.jsEscape( $i18n.getString( "select_period" ) , "'")';
</script>

<style>
    #overlay {
    z-index:9998;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:100%;
    background:#000;
    opacity:0.45;
    -moz-opacity:0.45;
    filter:alpha(opacity=45);
    visibility:hidden;   
    }
    #overlayImg{ width: 50px; height: 50px; z-index: 9999; position: absolute; left:50%}
</style>
<div id="overlay">
    <div id="overlayImg"><img  width="50" height="50" src="images/ajax-loader.gif" style="margin:auto;position:fixed;top: 50%;left: 50%;"/></div>
</div>


<script>
    
	jQuery(document).ready( function(){
	currentDiv = 'ASHATrainingDataEntryForm';
	isSubmit = true;
    jQuery("#ASHATrainingDataEntryForm").validate({
		meta:"validate"
		,errorElement:"span"
		,submitHandler: function(form)
		{
        	if( isSubmit ) 
            {
            	saveASHATrainingDataEntryForm();
            }
		}
    	});
    }); 
    
</script>



<h4>$i18n.getString( "update_asha_attribute" ) $!attributeGroup.name  $i18n.getString( "details" )</h4>

<form id="ASHATrainingDataEntryForm" name="ASHATrainingDataEntryForm" method="post"> 

<div>
	<input type="hidden" id="attributeGroupId" name="attributeGroupId" value="$attributeGroup.id">
	<input type="hidden" id="attributeGroupName" name='attributeGroupName' value="$!attributeGroup.name"/>
	<input type="hidden" id="id" name="id" value="$patient.id">
	<input type="hidden" id="programId" name="programId" value="$!program.id">
	<input type="hidden" id="programInstanceId" name="programInstanceId" value="$!programInstanceId">
</div>	

<div class="inputCriteria" style="width:500px;height:150px;">
	
<table>

	<tr>
		<td><label for="systemIdentifier">$i18n.getString( "system_identifier" )</label></td>
		<td>$!systemIdentifier</td>
	</tr>
	<tr>
		<td><label for="fullName">$i18n.getString("full_name")</label></td>
		<td>$encoder.htmlEncode($!patient.getFullName())</td>
	</tr>

			
	<tr>
		<td><label for="gender">$i18n.getString("gender")</label></td>
		<td>$i18n.getString($!patient.gender)</td>
	</tr>
		
	<tr>
		<td><label for="dateofbirth">$i18n.getString("date_of_birth")</label></td>
		<td>$format.formatDate( $!patient.birthDate)  ( $!patient.getAge() )</td>
	</tr>
	
	
	<tr>
		<td><label for="location">$i18n.getString("location")</label></td>
		<td>$encoder.htmlEncode($!patient.organisationUnit.name)</td>
	</tr>
	
	<tr>
		<td><label for="gender">$i18n.getString("phoneNumber")</label></td>
		<td>
			#if($!patient.phoneNumber && $!patient.phoneNumber!='')
				$!patient.phoneNumber
			#else
				[$i18n.getString('none')]
			#end
		</td>
	</tr>

	<tr>
		<td><label for="selectDateOfUpdate">$i18n.getString( "date_of_updation" )</label></td>
		<td class="input-column" ><input type="text" id="selectedPeriod" name="selectedPeriod"  onchange="loadASHATrainingDataEntryForm();"/>
			<script type="text/javascript">
				datePickerValid( 'selectedPeriod' );
			</script>
		</td>
	</tr>		
		
</table>
</div>


#parse( "/dhis-web-commons/loader/loader.vm" )
<div id='loadASHATrainingDataEntryFormDiv'></div> <!-- DataEntry Form -->  	


<p>
	<input type="button"  value="$i18n.getString( 'Cancel' )" style="width:100px" onclick="javascript:callAction( 'selectASHA' )"/>&nbsp;&nbsp;
	&nbsp;&nbsp;<input type="submit"  id="saveButton" name="saveButton" value="$i18n.getString( 'save' )" disabled="disabled" style="width:100px"/>
</p>




</form>

<script type="text/javascript">
jQuery( document ).ready( function()
{
});
</script>

<script type="text/javascript">

    var i18n_field_is_required = '$encoder.jsEscape( $i18n.getString( "field_is_required" ) , "'") ';
</script>
