<div>
    <h1 class="main_header">NC - Isolate Transfer</h1>
    <div class="side-bar">
        <div id="orgUnitTree">
            <ul>
            </ul>
        </div>
    </div>
    <div class="main">
        <table class="main-tei-data">
            <thead>
                <tr>
                    <th colspan="3">Lab: {{selectedOrgUnit.name}}</th>
                    <th colspan="2" style="text-align:right">Batch No: {{data.BatchNo}}</th>
                </tr>
                <tr>
                    <th>AMR Ids</th>
                    <th>Isolate status</th>
                    <th>Isolate condition</th>
                    <th>Quality check date</th>
                    <th>Molecular test date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="amr in teiDataValue.selectedArray">
                    <td>
                        <a ng-href="../Isolate-Transfer/index.html#/event/{{amr.eventuid}}" target="_blank">{{amr.amrid}}</a>
                    </td>

                    <td>
                        <input  type="radio" 
                                ng-model="eventDataValue[amr.eventuid]['KHHHMoiUsWZ']"
                                ng-change="saveSingleTEIDataValue(amr.eventuid,amr.programuid,amr.teiuid,'KHHHMoiUsWZ')" value="Alive" >Alive
                        
                        <input  type="radio" 
                                ng-model="eventDataValue[amr.eventuid]['KHHHMoiUsWZ']"
                                ng-change="saveSingleTEIDataValue(amr.eventuid,amr.programuid,amr.teiuid,'KHHHMoiUsWZ')" value="Dead">Dead
                    </td>
                    
                    <td>
                        <input  type="radio" 
                                ng-model="eventDataValue[amr.eventuid]['H4s7FuoY3Hm']"
                                ng-change="saveSingleTEIDataValue(amr.eventuid,amr.programuid,amr.teiuid,'H4s7FuoY3Hm')" 
                                ng-disabled= "eventDataValue[amr.eventuid]['KHHHMoiUsWZ'] == 'Dead'" value="Pure">Pure
                        
                        <input  type="radio" 
                                ng-model="eventDataValue[amr.eventuid]['H4s7FuoY3Hm']"
                                ng-change="saveSingleTEIDataValue(amr.eventuid,amr.programuid,amr.teiuid,'H4s7FuoY3Hm')"  
                                ng-disabled= "eventDataValue[amr.eventuid]['KHHHMoiUsWZ'] == 'Dead'" value="Contaminated">Contaminated
                    </td>
                    <td>
                        <input  calendar 
                                ng-model="eventDataValue[amr.eventuid]['hQmS69HXStI']" 
                                ng-change=" checkDate(eventDataValue[amr.eventuid]['hQmS69HXStI'], amr.eventuid, 'hQmS69HXStI');saveSingleTEIDataValue(amr.eventuid,amr.programuid,amr.teiuid,'hQmS69HXStI')"
                                ng-disabled= "eventDataValue[amr.eventuid]['H4s7FuoY3Hm'] == 'Contaminated' || !eventDataValue[amr.eventuid]['H4s7FuoY3Hm']" >
                    </td>
                    <td> 
                        <input  calendar 
                                ng-model="eventDataValue[amr.eventuid]['qNmtxrjYccb']"
                                ng-change=" checkDate(eventDataValue[amr.eventuid]['qNmtxrjYccb'],  amr.eventuid, 'qNmtxrjYccb');saveSingleTEIDataValue(amr.eventuid,amr.programuid,amr.teiuid,'qNmtxrjYccb')"
                                ng-disabled= "eventDataValue[amr.eventuid]['H4s7FuoY3Hm'] == 'Contaminated' || !eventDataValue[amr.eventuid]['H4s7FuoY3Hm']" >
                    </td>
                
                </tr>
            </tbody>
        </table>
        <button class="button" id="button-danger" ng-click="cancelTeiDataValue()"> Cancel </button>

    </div>
    <modal-dialog>
        <div>
            {{message}}
        </div>
    </modal-dialog>

</div>