
<h2>Import Data From Excel</h2>
<ul>
    <li>Data Import</li>
    <ul>
		<!--
        <li><a href = "excelImportForm.action">Data Import From Excel</a></li>
        <li><a href = "portalDataImportForm.action">Data Import From Portal</a></li>
        <li><a href = "tcsDataImportForm.action">Import XML From TNHMIS</a></li>
		-->
        <li><a href = "BDDataImportForm.action">FPMU - Excel Import</a></li>
        <li><a href = "DynamicExcelImportForm.action">Dynamic Excel Data Import</a></li>
		<!--
        <li><a HREF="schedulerControlAction.action">Scheduler Control</a></li>
		-->
    </ul>
</ul>
