<div>
    <h1 class="main_header">RC - Isolate transfer</h1>
    <div class="side-bar">
        <div id="orgUnitTree">
            <ul>
            </ul>
        </div>
    </div>
    <div class="main">
        <table class="selectFields">
            <tr>
                <td> Lab </td>
                <td>
                    <input type="text" ng-model="selectedOrgUnit.name" disabled></td>
            </tr>
            <tr>
                <td> Organism Group </td>
                <td>
                    <select id="selectedFields-program" ng-model="selectedProgram"
                        ng-options="program.displayName for program in allPrograms | orderBy: displayName">
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="startDate"> Start Date: </label>
                </td>
                <td>
                    <input calendar ng-model='selectedStartDate' ng-change="checkDate(selectedStartDate, 'selectedStartDate')" id="startDate" required />
                </td>
                <td>
                    <label for="endDate"> End Date: </label>
                </td>
                <td>
                    <input calendar ng-model='selectedEndDate'  ng-change="checkDate(selectedEndDate, 'selectedEndDate')"  id="endDate" required />
                </td>
            </tr>
            <tr>
                <td>
                    <button class="button" ng-click="submitTeiDataValue()"> Next </button>
                    <button class="button" id="button-danger" ng-click="cancelTeiDataValue()"> Cancel </button>
                </td>
            </tr>
        </table>

        <div id="content" style="display:none">
            <div id="container">
                <div class="container-all" id="container-first">
                    <select class="dataList" multiple ng-dblclick="shiftRight()" ng-model="selectedContinerLeft"
                        ng-options="dataValue.amrid for dataValue in teiDataValue.availableArray"></select>
                </div>
                <div id="container-middle">
                    <button class="cointainer-button" ng-click="buttonRight()"> <span>&#8594;</span></button><br />
                    <button class="cointainer-button" ng-click="buttonLeft()"> <span>&#8592; </span> </button><br />
                    <button class="cointainer-button" ng-click="buttonBoth()"> <span>&#8596;</span> </button>
                </div>
                <div class="container-all" id="container-last">
                    <select class="dataList" multiple ng-dblclick="shiftLeft()" ng-model="selectedContinerRight"
                        ng-options="dataValue.amrid for dataValue in teiDataValue.selectedArray"></select>
                </div>
            </div>

            <div id="container-footer">
                <button class="button" ng-click="createTeiDataValue()"> Create </button>
                <button class="button" id="button-danger" ng-click="cancelTeiDataValue()"> Cancel </button>
            </div>
        </div>
    </div>
    <pop-up>
        {{message}}
    </pop-up>
</div>