<div>
    <h1 class="main_header">RC - Isolate transfer</h1>
    <div class="side-bar">
        <div id="orgUnitTree">
            <ul>
            </ul>
        </div>
    </div>
    <div class="main">
        <table class="selectFields">
            <tr>
                <td>Lab </td>
                <td>
                    <input type="text" ng-model="selectedOrgUnit.name" disabled></td>
            </tr>
            <tr>
                <td> Organism Group </td>
                <td>
                    <input type="text" ng-model="selectedProgram" disabled>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="startDate"> Start Date: </label>
                </td>
                <td>
                    <input calendar ng-model='selectedStartDate' id="startDate" disabled />
                </td>
                <td>
                    <label for="endDate"> End Date: </label>
                </td>
                <td>
                    <input calendar ng-model='selectedEndDate' id="endDate" disabled />
                </td>
            </tr>
        </table>

        <div id="content">
            <div id="container">
                <div class="container-all" id="container-first">
                    <select class="dataList" multiple ng-dblclick="shiftRight()" ng-model="selectedContinerLeft"
                        ng-options="dataValue.amrid for dataValue in teiDataValue.availableArray"></select>
                </div>
                <div id="container-middle">
                    <button class="cointainer-button" ng-click="buttonRight()"> <span>&#8594;</span></button><br />
                    <button class="cointainer-button" ng-click="buttonLeft()"> <span>&#8592; </span> </button><br />
                    <button class="cointainer-button" ng-click="buttonBoth()"> <span>&#8596;</span> </button>
                </div>
                <div class="container-all" id="container-last">
                    <select class="dataList" multiple ng-dblclick="shiftLeft()" ng-model="selectedContinerRight"
                        ng-options="dataValue.amrid for dataValue in teiDataValue.selectedArray"></select>

                </div>
            </div>

            <div id="container-footer">
                <label for="dispatch-date"> Dispatch Date: </label>
                <input calendar ng-model='selectedDispatchDate' ng-change="checkDate(selectedDispatchDate, 'selectedDispatchDate')" id="dispatch-date" required />
                <button class="button" ng-click="transferTeiDataValue()"> Dispatch </button>
                <button class="button" id="button-danger" ng-click="cancelTeiDataValue()"> Cancel </button>
            </div>
        </div>
    </div>
    <pop-up>
        {{message}}
    </pop-up>
</div>