<div ng-controller="sampleSentForQualityCheck">
    <h1 class="main_header">RC - Isolate transfer</h1>
    <div class="side-bar">
        <ul class="side-bar-list">
            <li ng-click="dispatchnewSample()"> Dispatch New Sample</li>
            <li class="active" ng-click="sampleSentForQualityCheck()"> Sample Sent for Quality Check</li>
        </ul>
        <div>
            <div id="orgUnitTree">
                <ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <table class="main-tei-data">
            <thead>
                <tr>
                    <th colspan="6">Lab: {{selectedOrgUnit.name}}</th>
                </tr>
                <tr style="text-align: center">
                    <th>Batch No.</th>
                    <th>AMR Ids</th>
                    <th>Organism Group</th>
                    <th>Dispatched Date</th>
                    <th>Print</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dataValues in allTeiDataValues" ng-if='dataValues.status  == "DISPATCH"'>
                    <td>{{dataValues.BatchNo}}</td>
                    <td>
                        <p ng-repeat="amr in amrIds[dataValues.BatchNo]">{{amr}}<p>
                    </td>
                    <td>{{dataValues.program.displayName}}</td>
                    <td>{{dataValues.dispatchDate}}</td>
                    <td><button class="button" ng-click="showToggle(dataValues)"> Print </button> </td>
                    <td> {{dataValues.disptachStatus.received}}<br />
                        {{dataValues.disptachStatus.receivedDate}}
                    </td>
                </tr>
            </tbody>

        </table>
        <modal-dialog>
            <div id="table-print">
                <table class="display-print-data" style="width:90%;margin:0 auto;font-family:arial;">
                    <thead>
                        <tr style="text-align:center;padding-top:2%;font-weight:400;">
                            <td colspan="4">ICMR AMR Surveillance Network</td>
                        </tr>
                        <tr style="text-align:center;padding-top:2%;font-weight:400;">
                            <td colspan="4">Sample Transfer Regional Center to Nodal Center<br />(Final List)</td>
                        </tr>
                        <tr style="padding-top:2%;font-weight:400;">
                            <th colspan="4" style="text-align:right"> Dispatch Date : {{storePrintValues.dispatchDate}}
                            </th>
                        </tr>
                        <tr style="padding-top:2%;font-weight:400;">
                            <th colspan="4"> Name of Regional Center : {{selectedOrgUnit.name}}</th>
                        </tr>
                        <tr style="padding-top:2%;font-weight:400;">
                            <th colspan="4"> Name of Nodal Center : {{storePrintValues.program.displayName}}</th>
                        </tr>
                        <tr style="padding-top:2%;font-weight:400;">
                            <th colspan="4">Total sample count : {{storePrintValues.totalSelectedArray}}</th>
                        </tr>
                        <tr style="padding-top:2%;font-weight:400;">
                            <th colspan="4">Batch No. : {{storePrintValues.BatchNo}}</th>
                        </tr>
                        <tr style="padding-top:2%;">
                            <td>Serial Number</td>
                            <td>AMR ID</td>
                            <td>Organism</td>
                            <td>Sample Type</td>
                        </tr>
                        <tr style="padding-top:2%;" ng-repeat="amr in storePrintValues.rows.selectedArray">
                            <td>{{$index+1}}</td>
                            <td>{{amr.amrid}}</td>
                            <td>{{showTypes[amr.eventuid]["Organism"]}}</td>
                            <td>{{showTypes[amr.eventuid]["Sample Type"]}}</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
            </div>
            <button class="button" id="print-amr-button" ng-click="printAMR('table-print')">Print</button>
        </modal-dialog>
    </div>
</div>
