<app-event-capture
  [dataObject]="dataElements"
  [currentEvent]="currentEvent$ | async"
  [currentAttributes]="currentAttributes$ | async"
  [programInfo]="programInfo"
  [isNewDistributionPointCreated]="isNewDistributionPointCreated$ | async"
  [eventMessageObject]="eventMessageObject$ | async"
  [hasCurrentEventErrored]="hasCurrentEventErrored$ | async"
  [isEventLoading]="isEventLoading$ | async"
  [periodId]="periodId"
  [currentUser]="currentUser$ | async"
  [isEventSubmitting]="isEventSubmitting$ | async"
></app-event-capture>
